<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
{% import 'vitrine/macro/sections.html' as sections %}
{% import 'vitrine/macro/cartes.html' as cartes with context %}
<html>
	<head>
		<title>Imladris - Notre financement</title>
		<link rel="icon" href="/images/logo-imladris-icon.svg" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">
			<!-- Header -->
			{% include 'vitrine/elements/header.html' %}

			<!-- Banner -->
			{% call() sections.banner(
				title='Imladris notre financement',
				logo='logo-imladris.svg',
				img='vaches/meuhmeuh01.jpg'
			) %}
			Vous voulez nous soutenir en temps ou en argent ?<br />
			Vous vous inquiétez pour nous ?<br />
			Rejoignez-nous !
			{% endcall %}

			<!-- One -->
			{% call(one) sections.icon_box(
				title='Quels sont nos modes de financement ?',
				subtitle='Une coopérative d’Intérêt collectif',
				id='one', next_id='two',
				list=[
					("seedling","Cotisation","En adhérant à <strong>Imladris</strong>, vous soutiendrez nos <strong>activités d'intérêt collectif</strong>, comme dans une association. La cotisation est à payer en euro et/ou en temps de travail."),
					("cow","Investissement","Vous pouvez <strong>investir</strong> dans la coopérative de l’argent, un bien ou du temps de travail. Vous pourrez alors <strong>participer aux décisions</strong>. Vous pourrez récupérer vos apports plus tard ou les convertir en services. Attention nous n'avons pas le droit de verser de dividendes."),
					("piggy-bank","Prix libre","Une partie de nos services est prix libre, <strong>mais n'oubliez pas le cochon !</strong> Vous mettez le montant que vous voulez, <strong>quelles que soient vos ressources</strong>, afin de permettre à tous de bénéficier de nos services."),
					("scale-balanced alt","Communs","Les communs sont des <strong>ressources partagées</strong>, gérées et maintenues <strong>collectivement</strong>. Nous établissons ensemble des règles dans le but de préserver et pérenniser ces ressources, tout en fournissant la possibilité et le droit de les utiliser au plus grand nombre."),
					("computer","Services aux entreprises","Vous êtes une <strong>entreprise</strong>, une <strong>association</strong> ou une <strong>collectivité territoriale</strong> présente à Lanvollon ? Vous pouvez bénéficier de nos <strong>services adaptés</strong> très variés. N'hésitez pas à nous contacter pour un devis (modulable en fonction de la taille de votre structure et de vos besoins). <strong>Si vous trouvez moins cher ailleurs, c’est vous le produit.</strong>"),
					("dice-d20","Financement participatif","Vous pouvez financer <strong>collectivement</strong> un commun d'intérêt collectif ou la mise en place et la continuité d’un service au public."),
					("hat-wizard","Dons","Notre structure peut accepter les <strong>dons</strong>, subventions, dons contre dons, troc et de nombreuses relations économiques peu conventionnelles pour une entreprise. Nous expérimentons des <strong>innovations économiques.</strong>"),
					("cloud-sun-rain","Effet multiplicateur","Notre activité s’effectuant principalement sur le territoire de <strong>Lanvollon</strong>, votre argent vous servira <strong>plusieurs fois</strong>, puisqu’il financera en grande partie des entreprises et activités <strong>locales</strong>." )
				]
			) %}
				{#
					Sympa, mais contenu à trouver :)
					("shield-cat","shield-cat","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
					("dragon","dragon","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
					("tractor","tractor","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
					("fish","fish","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
					("hourglass-start","hourglass-start","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
					("masks-theater","masks-theater","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
					("mercury alt","mercury","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
					("user-astronaut","seedling","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
					("torii-gate","torii-gate","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
					("user-ninja alt","user-ninja","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.")

					Ne fonctionnent malheureusement pas :’(
					("sith","sith","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
					("galactic-senate","galactic-senate","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.")
				#}
				<span class="icon solid major fa-{{ one[0] }}"></span>
				<h3>{{ one[1] }}</h3>
				{% autoescape false %}
					<p>{{ one[2] }}</p>
				{% endautoescape %}
			{% endcall %}

			<!-- Cotisation -->
			{% call() sections.bottom(
				title='Cotisation',
				subtitle='',
				img='fruits/fruits-1.jpg',
				id='two', next_id='three'
			) %}
			<div class="col-4 col-12-medium">
				<p>
					Les cotisations et le statut de membre sont réservés aux Lanvollonnais.<br/>
					Les cotisations, moins chères pour les particuliers, concernent aussi les entreprises, les associations ou tout autre structure lanvollonnaise.
				</p>
			</div><div class="col-4 col-12-medium">
				<p>
					En cotisant vous recevrez une carte de membre comme dans une association et vous pourrez soutenir nos activités.
				</p>
			</div>
			{% endcall %}
			<!-- Investissement -->
			{% call() sections.bottom(
				title='Investissement',
				subtitle='Comme nous sommes une coopérative, nous investissons tous ensemble pour réaliser nos rêves, nos espoirs et assurer notre avenir.',
				img='etoiles/etoiles-1.jpg',
				id='three', next_id='four'
			) %}
			<div class="col-4 col-12-medium">
				<p>
					Nous <strong>séparons</strong> dans notre comptabilité ce qui tient à nos <strong>activités</strong> de nos <strong>réserves de valeur</strong> en cas de crise.<br/>
					Nous avons séparé nos actions en plusieurs catégories. 1 euro, une table ou une heure de travail suffisent.
				</p>
				<p>
					Pour nous aider à monter des activités, vous pouvez prendre des <strong>actions ordinaires</strong> qui seront perdues si l'activité ne rapporte pas (<strong>risques mutualisés</strong>). Vous devez les conserver au moins un an.
				</p>
			</div><div class="col-4 col-12-medium">
				<p>
					Pour tenter de préserver l'avenir, vous pouvez prendre des <strong>actions immobilières</strong> qui reposent sur des valeurs plus stables et visent à <strong>compenser l'inflation.</strong> Vous devez les garder au moins cinq ans, puis ne pourrez en récupérer que 10% par an.
				</p>
				<p>
					Vous n'avez pas d'argent ? Les <strong>actions industrieuses</strong> vous permettent d'investir du temps en travaillant dans notre coopérative et en échange vous pouvez être rémunérés ou recevoir des services. Chaque action vaut une heure de travail.
				</p>
			</div>
			{% endcall %}
			<!-- Prix libre -->
			{% call() sections.bottom(
				title='Prix libre',
				subtitle='',
				img='paysages/Landscape_with_a_Sunlit_Stream_MET_DT2146.jpg',
				id='four', next_id='collectif'
			) %}
			<div class="col-4 col-12-medium">
				<p>
					Une partie des services fournis par la coopérative sont prix libre.<br/>
					Ils ne sont pas gratuits, mais payés de façon collective et non individuelle.<br/>
					Vous mettez le montant que vous voulez, quelles que soient vos ressources.<br/>
					Nous considérons que ce n’est pas à nous d’estimer la valeur de ce que nous produisons, mais à vous.
				</p>
			</div><div class="col-4 col-12-medium">
				<p>
					De plus, nous avons constaté qu’en fixant arbitrairement un prix selon le coût ou selon les lois du marché et des monopoles, la qualité n’était pas à la portée financière du plus grand nombre.<br/>
					Parce que nous souhaitons vous fournir des services de qualité quel que soit votre budget, de chacun selon ses moyens à chacun selon ses besoins.
				</p>
			</div>
			{% endcall %}
			<!-- Prix libre collectif -->
			{% call() sections.bottom(
				title='Prix libre collectif',
				subtitle='',
				img='paysages/Landscape_with_a_Sunlit_Stream_MET_DT2146.jpg',
				id='collectif', next_id='five'
			) %}
			<div class="col-4 col-12-medium">
				<p>
					Une partie des services de la coopérative sont à prix fixe.<br/>
					Néanmoins leur prix n’est pas fixé arbitrairement par une seule personne, mais est décidé collectivement par tous les gens qui viennent.<br/>
					Chacun propose une estimation du coût, du prix du marché et de la valeur subjective du service, et nous calculons la médiane des coûts, des prix et des valeurs.<br/>
					Lorsque vous achetez un service à prix fixe, c’est vous qui choisissez individuellement entre le payer à son coût, à son prix ou à sa valeur, et vous décidez collectivement de ces chiffres.
				</p>
			</div><div class="col-4 col-12-medium">
				<p>
					De plus, nous avons constaté qu’en fixant arbitrairement un prix selon le coût ou selon les lois du marché et des monopoles, la qualité n’était pas à la portée financière du plus grand nombre.<br/>
					Parce que nous souhaitons vous fournir des services de qualité quel que soit votre budget, de chacun selon ses moyens à chacun selon ses besoins.
				</p>
			</div>
			{% endcall %}
			<!-- Communs -->
			{% call() sections.bottom(
				title='Communs',
				subtitle='',
				img='paysages/Landscape_with_Ducks_MET_0165-1.jpg',
				id='five', next_id='six'
			) %}
			<div class="col-4 col-12-medium">
				<p>
					Une partie des biens mobiliers et immobiliers de la coopérative ont vocation à être des communs.<br/>
					Si vous souhaitez libérer leur utilisation et permettre à tous les lanvollonnais de les gérer et utiliser collectivement, vous pouvez participer à financer leur libération.<br/>
					Nous vous permettons aussi de faire des économies d’échelle en regroupant des achats pour effectuer de grosses commandes.
				</p>
			</div><div class="col-4 col-12-medium">
				<p>
					Par exemple si vous souhaitez un moulin, une fonderie de processeurs, une fromagerie ou un hôpital, <br/>
					On peut acheter et construire tous ensembles.<br/>
					Si chacun met en moyenne 10€/mois nous arriverons à 18 000€ par mois (180 000€ par an), de quoi effectuer des gros investissements et payer un certain nombre de salaires, tout en économisant l’essence par le rapprochement de services de proximité.
				</p>
			</div>
			{% endcall %}
			<!-- Services aux entreprises -->
			{% call() sections.bottom(
				title='Services aux entreprises',
				subtitle='',
				img='natures_morte/nature-morte-with_Strawberries.jpg',
				id='six', next_id='seven'
			) %}
			<div class="col-4 col-12-medium">
				<p>
					Les entreprises, associations ou collectivités territoriales qui souhaitent bénéficier de nos services peuvent nous contacter. <br/>
					Nos services sont sur devis (modulables en fonction de la taille de votre structure et de vos besoins). Si vous trouvez moins cher ailleurs, c’est vous le produit.
				</p>
			</div><div class="col-4 col-12-medium">
				<p>
					Entre autres nous proposons conseil en stratégie de communication locale, petites livraisons, couveuse, pépinière, services informatiques :
				</p>
				<ul>
					<li>Sécurité, </li>
					<li>RGPD, </li>
					<li>Référencement, </li>
					<li>Sites e-commerce, </li>
					<li>Système d’information, </li>
				</ul>
			</div>
			{% endcall %}
			<!-- Financement participatif -->
			{% call() sections.bottom(
				title='Financement participatif',
				subtitle='',
				img='Landscape.jpg',
				id='seven', next_id='eight'
			) %}
			<div class="col-4 col-12-medium">
				<p>
					Lorsque vous souhaitez financer l’achat de communs ou la mise en place et la continuité d’un service, vous pouvez nous faire un don direct (sans passer par une plateforme de financement participatif). Vous pouvez également participer en investissant dans notre structure. 
				</p>
			</div><div class="col-4 col-12-medium">
				<p>
					Vous pouvez aussi nous faire <a href="https://fr.wikipedia.org/wiki/Elinor_Ostrom#Capital_social,_r%C3%A9ciprocit%C3%A9_et_action_collective">un don conditionné</a>, c’est à dire que vous vous engagez contractuellement à faire un don seulement si/lorsqu’il y aura suffisamment de participants. Si vous pensez que ça ne peut pas marcher, que vous nous trouvez mignons et utopistes n'hésitez pas à signer, si ça ne marche pas vous n'aurez rien à payer. Vous nous aidrez en acceptant à convaincre d’autres sceptiques de signer. Et peut-être serez-vous surpris de voir nos idées farfelues mises en pratiques.
				</p>
			</div>
			{% endcall %}
			<!-- Dons -->
			{% call() sections.bottom(
				title='Dons',
				subtitle='',
				img='natures_morte/Abashin-nature_morte.jpg',
				id='eight', next_id='nine'
			) %}
			<div class="col-4 col-12-medium">
				<p>
					Notre structure peut accepter les dons, subventions, dons contre dons, troc et de nombreuses relations économiques peu conventionnelles pour une entreprise. <br/>
					Si vous souhaitez nous faire un don en argent, vous pouvez utiliser nos coordonnées bancaires en pied de page.
				</p>
			</div><div class="col-4 col-12-medium">
				<p>
					Nous acceptons aussi les monnaies locales et les devises.
				</p>
			</div>
			{% endcall %}
			<!-- Effet multiplicateur -->
			{% call() sections.bottom(
				title='Effet multiplicateur',
				subtitle='',
				img='vaches/meuhmeuh04.jpg',
				id='nine'
			) %}
			<div class="col-4 col-12-medium">
				<p>
					Notre chiffre d’affaire s’effectuant principalement sur le territoire de Lanvollon, vous bénéficierez indirectement de l’argent que vous mettrez dans la coopérative, puisqu’il financera en grande partie des entreprises locales et des actions locales.
				</p>
			</div><div class="col-4 col-12-medium">
				<p>
					L’<a href=https://fr.wikipedia.org/wiki/Effet_multiplicateur><strong>effet multiplicateur</strong></a> est un indicateur développé par l’économiste Keynes afin d’évaluer l’efficacité d’un plan de relance.
				</p>
			</div>

			{% endcall %}



			<!-- Footer -->
			{% include 'vitrine/elements/footer.html' %}


		</div>

		<!-- Scripts -->
		{% include 'vitrine/elements/scripts.html' %}

	</body>
</html>
