<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
{% import 'vitrine/macro/sections.html' as sections %}
{% import 'vitrine/macro/cartes.html' as cartes with context %}
<html>
	<head>
		<title>Imladris - licenses libres</title>
		<link rel="icon" href="/images/logo-imladris-icon.svg" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing mosaïque">
		<div id="page-wrapper">

			<!-- Header -->
			{% include 'vitrine/elements/header.html' %}

			<!-- Banner -->
			{% call() sections.banner(
				title='Licenses libres 🄯',
				logo='vaches/meuhmeuh02.jpg',
				img='vaches/meuhmeuh01.jpg'
			) %}
			La plupart de nos images sont libres.
			{% endcall %}

			<!-- One -->
			{% call() sections.bottom (
					title='Pourquoi des licenses libres ?',
					subtitle='Une coopérative d’intérêt collectif',
					img='natures_morte/Julia_Alcayde_y_Montoya.jpg',
					id='one', next_id='main'
			) %}
			<div class="col-4 col-12-medium">
				<p>Notre site, les polices que nous utilisons et une partie des images qui sont dessus sont sous license libre. De façon générale, les productions artistiques et informatiques que nous proposons sont majoritairement sous license libre.</p>
			</div><div class="col-4 col-12-medium">
				<p>Parce que le libre est une philosophie, permettant de construire des biens communs voire des biens publiques, pour que tous aient droit à l'art et au numérique sans payer des fortunes à des multinationales états-uniennes privées.</p>
			</div>

			{% endcall %}


			<!-- Main -->
			{% call() sections.left (
					title='Licences pour le site',
					subtitle='Template html',
					img='etoiles/etoiles-1.jpg',
					id='main', next_id='site'
			) %}
				<div id="main" class="wrapper style1">
					<div class="container">
							<p>Tout notre site utilise des licences libres excepté pour les logos de marques.</p>
							<p>Le design du site est le template <a href="https://html5up.net">html5up</a> « Landed » fait par @ajlkn sous licence <a href="https://creativecommons.org/licenses/by-sa/3.0/fr/">CCBYSA 3.0</a> et modifié par nos soins.</p>
			{% endcall %}
			<!-- Site -->
			{% call() sections.right (
					title='Licences pour le site',
					subtitle='Code du site',
					img='etoiles/etoiles-2.jpg',
					id='site', next_id='polices'
			) %}
				<div id="main" class="wrapper style1">
					<div class="container">
						<p>Le site lui-même est sous licence <a href="https://www.gnu.org/licenses/gpl-3.0.fr.html">GPL v3+</a> et vous pouvez trouver le code source ainsi que tous les autres codes développés par nous sur <a href="https://framagit.org/imladris-publique">notre Framagit</a>. Nous remercions l’association Framasoft d’héberger notre code, en attendant que nous ayons notre propre gitlab.</p>
							{% endcall %}
			<!-- Polices -->
			{% call() sections.left (
					title='Licences pour les polices',
					img='etoiles/etoiles-3.jpg',
					id='polices', next_id='images'
			) %}
				<div id="main" class="wrapper style1">
					<div class="container">
						<p>Les polices du site sont libres, sous licence <a href="http://scripts.sil.org/OFL">OFL</a> pour les polices classiques (<a href="https://fontlibrary.org/fr/font/libertinus-sans">Libertinus</a>, <a href="https://github.com/MakeNowJust/yuki-code">Yuki code</a></li>) et sous licence <a href="https://creativecommons.org/licenses/by/4.0/deed.fr">CCBY 4.0</a> pour les <a href="https://fontawesome.com/">Fontawesome</a></li>.</p>
			{% endcall %}
<!-- Images -->
			{% call() sections.right (
					title='Licences pour les images et graphismes',
					img='natures_morte/Abashin-nature_morte.jpg',
					id='images', next_id='two'
			) %}
				<div id="main" class="wrapper style1">
					<div class="container">
								<p>La majorité des images sur notre site proviennent de <a href="https://upload.wikimedia.org/">Wikimedia</a>, mais certaines images proviennent également de la <a href="https://www.nasa.gov/">NASA</a>. Nous privilégions les images sous licences CCBYSA. Certaines images sont cependant sous licence CCBY, CC0 ou issues du domaine publique.</p>
								<p>En revanche pour éviter toute confusion avec notre entreprise, nous nous réservons les droits sur notre logo. De même, lorsque nous effectuons un travail de graphisme pour une autre structure, celle-ci conserve les droits sur son logo.</p>
							</section>

					</div>
				</div>
			{% endcall %}

			<!-- Two -->
			{% call(one) sections.icon_box(
					title='Licenses des images sur les pages générales',
					id='two', next_id='three',
					list=[
						('cow','Vaches','Images <a href="https://upload.wikimedia.org/">Wikimedia</a> 
							sous licence <a href="https://creativecommons.org/licenses/by-sa/3.0/fr/">CCBYSA 3.0</a> :<br/>
							<a href="https://upload.wikimedia.org/wikipedia/commons/a/a7/Red_cow_on_limestone_pasture_in_Boho.JPG"><img src="/images/vaches/meuhmeuh02.jpg" alt="Belle vache rousse en gros plan" /></a>
							<a href="https://upload.wikimedia.org/wikipedia/commons/7/75/Landstetten%2C_Lallinger-Hof_HB-01.jpg"><img src="/images/vaches/meuhmeuh01.jpg" alt="Troupeau de vaches"/></a>.<br/> 
							Image <a href="https://upload.wikimedia.org/">Wikimedia</a> 
							sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/fr/">CCBYSA 4.0</a> :<br/>
							<a href="https://upload.wikimedia.org/wikipedia/commons/c/c8/Ribagorza%2C_animales_1981_02.jpg"><img src="/images/vaches/meuhmeuh04.jpg" alt="Vaches en montagne"/></a>.<br/> 
							Image <a href="https://upload.wikimedia.org/">Wikimedia</a> 
							du domaine publique :<br/>
							<a href="https://upload.wikimedia.org/wikipedia/commons/4/46/Finnish_countryside_pasture.JPG"><img src="/images/vaches/meuhmeuh03.jpg" alt="Troupeau de vaches à belles cornes qui nous regardent"/></a>'),
						('star-and-crescent','Astronomie','Images <a href="https://upload.wikimedia.org/">Wikimedia</a> 
							du domaine publique (crédit <a href="https://www.nasa.gov/">NASA</a>) :<br/>
							<a href="https://upload.wikimedia.org/wikipedia/commons/1/1f/Cosmic_%E2%80%98Winter%E2%80%99_Wonderland.jpg"><img src="/images/etoiles/etoiles-1.jpg" alt="Image de galaxie" /></a>
							<a href="https://upload.wikimedia.org/wikipedia/commons/5/5b/Hubble_Resolves_a_Blaze_of_Stars_in_a_Galaxy%27s_Core.jpg"><img src="/images/etoiles/etoiles-3.jpg" alt="Image d’étoiles par Hubble"/></a> 
							<a href="https://upload.wikimedia.org/wikipedia/commons/7/73/Eta_Carinae_-_Observations_in_UV_Light_Uncover_Magnesium_Embedded_in_Warm_Gas.png"><img src="/images/etoiles/etoiles-2.jpg" alt="image de gaz stellaire"/></a>' ),
						("seedling","Paysages",'Images <a href="https://upload.wikimedia.org/">Wikimedia</a> 
							sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/fr/">CCBYSA 4.0</a> :<br/>
							<a href="https://upload.wikimedia.org/wikipedia/commons/8/8e/Landscape_with_rainbow_and_the_Old_Bridge_over_the_Nam_Khan_river_in_Luang_Prabang_Laos.jpg"><img src="/images/Landscape.jpg" alt="Paysage avec rivière et arc-en-ciel" /></a><br/>
							Images <a href="https://upload.wikimedia.org/">Wikimedia</a> 
							du domaine publique :<br/>
							<!-- <a href="https://upload.wikimedia.org/wikipedia/commons/4/41/Jan_Brueghel_the_Younger_-_Snowy_Landscape%2C_after_1625.jpg"><img src="/images/paysages/Jan_Brueghel_the_Younger_-_Snowy_Landscape%2C_after_1625.jpg" alt="Tableau de paysage de neige de Brueghel le jeune"/></a><br/> -->
							<a href="https://upload.wikimedia.org/wikipedia/commons/2/25/Jan_Brueghel_the_Younger_-_River_Landscape_with_Jetty%2C_c._1625.jpg"><img src="/images/paysages/Jan_Brueghel_the_Younger_-_River_Landscape_with_Jetty%2C_c._1625.jpg" alt="Tableau de paysage de rivière et bateaux de Brueghel le jeune"/></a><br/>
							<a href="https://upload.wikimedia.org/wikipedia/commons/6/64/Landscape_with_Ducks_MET_0165-1.jpg"><img src="/images/paysages/Landscape_with_Ducks_MET_0165-1.jpg" alt="Tableau d’un lac"/></a><br/>
							<a href="https://upload.wikimedia.org/wikipedia/commons/9/9b/Landscape_with_a_Sunlit_Stream_MET_DT2146.jpg"><img src="/images/paysages/Landscape_with_a_Sunlit_Stream_MET_DT2146.jpg" alt="Tableau avec une rivière et des peupliers"/></a>'),
						("leaf","Fruits et natures mortes",'Images <a href="https://upload.wikimedia.org/">Wikimedia</a> 
							sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/fr/">CCBYSA 4.0</a> :<br/>
							<a href="https://commons.wikimedia.org/wiki/Accueil#/media/File:Dish_of_blueberries.jpg"><img src="/images/fruits/fruits-1.jpg" alt="Image de myrtilles" /></a>
							<a href="https://upload.wikimedia.org/wikipedia/commons/3/37/Dish_with_fruits.jpg"><img src="/images/fruits/fruits-2.jpg" alt="Assiette de fruits"/></a>.<br/>
							Images <a href="https://upload.wikimedia.org/">Wikimedia</a> 
							du domaine publique :<br/>
							<a href="https://upload.wikimedia.org/wikipedia/commons/2/28/Julia_Alcayde_y_Montoya_-_Still_Life_with_Fruit%2C_Vegetables%2C_Birds%2C_Hare_and_Pitchers%2C_1926.jpg"><img src="/images/natures_morte/Julia_Alcayde_y_Montoya.jpg" alt="Nature morte espagnole avec volailles et fruits" /></a>
							<a href="https://upload.wikimedia.org/wikipedia/commons/8/80/Abashin._Still_life.jpg"><img src="/images/natures_morte/Abashin-nature_morte.jpg" alt="Nature morte de légumes" /></a>
							<a href="https://upload.wikimedia.org/wikipedia/commons/7/70/Still_Life_with_Strawberries_MET_DT1577.jpg"><img src="/images/natures_morte/nature-morte-with_Strawberries.jpg" alt="Nature morte fleurs, fraises, légumes"/></a>'),
						]
			) %}
				<span class="icon solid major fa-{{ one[0] }}"></span>
				<h3>{{ one[1] }}</h3>
				{% autoescape false %}
				<p>{{ one[2] }}</p>
				{% endautoescape %}
			{% endcall %}

			<!-- Three -->
			{% call(one) sections.icon_box(
					title='Licenses des images thématiques',
					id='three',
					list=[
						("ghost","Chauve-souris",'Image <a href="https://upload.wikimedia.org/">Wikimedia</a>
							sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/fr/">CCBYSA 4.0</a> :<br/>
							<a href="https://commons.wikimedia.org/wiki/File:2020-05-09_Babice_Cave_3.jpg"><img src="/images/samain/chauve-souris.jpg" alt="chauve souris" /></a>'),
						("fire-alt","Lampion seul",'Image <a href="https://upload.wikimedia.org/">Wikimedia</a> sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/fr/">CCBYSA 4.0</a> :
							<a href="https://commons.wikimedia.org/wiki/File:Night_Lanterns.jpg"><img src="/images/samain/lampion.jpg" alt="image de lampion" /></a>'),
						("synagogue","Château Samain",'Image <a href="https://upload.wikimedia.org/">Wikimedia</a> sous licence CC0 domaine publique :<br/>
							<a href="https://commons.wikimedia.org/wiki/File:Halloween-house.jpg"><img src="/images/samain/samain-chateau.jpg" alt="image de château gothique utilisée dans l’affiche" /></a>'),
						("fire","feu follet",'Image <a href="https://upload.wikimedia.org/">Wikimedia</a> du domaine publique :<br/>
							<a href="https://commons.wikimedia.org/wiki/File:Will-o-the-wisp_and_snake_by_Hermann_Hendrich_1823.jpg"><img src="/images/samain/feux-follets.jpg" alt="tableau de feux follets par Hermann Hendrich" /></a>'),
						("burn","bougie",'Image <a href="https://upload.wikimedia.org/">Wikimedia</a>
							sous licence <a href="https://creativecommons.org/licenses/by-sa/3.0/fr/">CCBYSA 3.0</a> :<br/>
							<a href="https://commons.wikimedia.org/wiki/File:Zuist_(Mesopotamian_and_Semitic)_religious_altar_dedicated_to_Pazuzu.jpg"><img src="/images/samain/pazuzu.jpg" alt="fond gothique de rituel avec bougie" /></a>'),
						("fire-alt","Flammes",'Images <a href="https://upload.wikimedia.org/">Wikimedia</a>
							sous licence <a href="https://en.wikipedia.org/wiki/en:GNU_Free_Documentation_License">GFDL</a> et <a href="https://creativecommons.org/licenses/by-sa/3.0/fr/">CCBYSA 3.0</a> :<br/>
							<a href="https://commons.wikimedia.org/wiki/File:FIRE_01.JPG"><img src="/images/beltaine/FIRE_01.JPG" alt="feu" /></a>'),
						("leaf","Arbres",'Images <a href="https://upload.wikimedia.org/">Wikimedia</a>
							sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/fr/">CCBYSA 4.0</a> :<br/>
							<a href="https://commons.wikimedia.org/wiki/File:Abstract_pattern_on_a_tree_stump.jpg"><img src="/images/beltaine/Abstract_pattern_on_a_tree_stump.jpg" alt="cernes d’arbre ancien" /></a><br/>
							Images <a href="https://upload.wikimedia.org/">Wikimedia</a>
							sous licence CC0 domaine publique, modifiée avec des filtres gimp et republiée sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/fr/">CCBYSA 4.0</a> :<br/>
							<a href="https://commons.wikimedia.org/wiki/File:Bright_Light_Trees_1.jpg"><img src="/images/beltaine/Bright_Light_Trees_7.jpg" alt="soleil entre les arbres" /></a><br/>
							Images <a href="https://upload.wikimedia.org/">Wikimedia</a>
							sous licence <a href="https://creativecommons.org/licenses/by-sa/4.0/fr/">CCBYSA 4.0</a> :<br/>
							<a href="https://commons.wikimedia.org/wiki/File:Tree_%26_Dragon.png"><img src="/images/beltaine/Tree_%26_Dragon.jpg" alt="dragon-arbre" /></a>'),

						]
			) %}
				<span class="icon solid major fa-{{ one[0] }}"></span>
				<h3>{{ one[1] }}</h3>
				{% autoescape false %}
				<p>{{ one[2] }}</p>
				{% endautoescape %}
			{% endcall %}

			<!-- Footer -->
			{% include 'vitrine/elements/footer.html' %}

		</div>

		<!-- Scripts -->
		{% include 'vitrine/elements/scripts.html' %}


	</body>
</html>
