<footer id="footer">
  {#
  <ul class="icons">
    <li><a href="#" class="icon brands alt fa-twitter"><span class="label">Twitter</span></a></li>
    <li><a href="#" class="icon brands alt fa-facebook-f"><span class="label">Facebook</span></a></li>
    <li><a href="#" class="icon brands alt fa-linkedin-in"><span class="label">LinkedIn</span></a></li>
    <li><a href="#" class="icon brands alt fa-instagram"><span class="label">Instagram</span></a></li>
    <li><a href="#" class="icon brands alt fa-github"><span class="label">GitHub</span></a></li>
    <li><a href="#" class="icon solid alt fa-envelope"><span class="label">Email</span></a></li>
  </ul>
  Note : penser à mettre framagit, openstreetmap et hackerspaces
  #}
  <table class="mentions alt">
    <caption>Mentions légales</caption>
    <tbody>
      <tr>
        <td>Responsable du site</td>
        <td>Imladris,
          <address>20 place du martray, 22290 Lanvollon</address>,
          SCIC SAS à capital minimal de 45 000 €,
          <a href="mailto:contact-site@imladris.bzh"><strong>contact-site@imladris.bzh</strong></a>
        </td>
      </tr>
      <tr>
        <td>Hébergeur</td>
        <td>OVH, 2 rue Kellermann - 59100 Roubaix - France</td>
      </tr>
      <tr>
        <td>N°RCS</td>
        <td>RCS Saint-Brieuc 911-803-211</td>
      </tr>
      <tr>
        <td>IBAN</td>
        <td>FR76 4255 9100 0008 0259 6055 932</td>
      </tr>
      <tr>
        <td>RIB</td>
        <td>42559 10000 0825960559 32</td>
      </tr>
      <tr>
		    <td>BIC</td>
        <td>CCOPFRPPXXX</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="2">Nous n'utilisons pas de cookies sur notre site et ne stockons pas vos données personnelles</td>
      </tr>
    </tfoot>
  </table>
  <ul class="copyright">
    <li class="copyleft">Code du site: <a href="https://www.gnu.org/licenses/gpl-3.0.fr.html">GPL v3+</a>, sources libres sur <a href="https://framagit.org/imladris-publique">notre Framagit</a></li>
    <li class="copyleft">Design: Landed par ajlkn <a href="https://creativecommons.org/licenses/by-sa/3.0/fr/">CCBYSA 3.0</a> <a href="http://html5up.net">HTML5 UP</a></li>
    <li class="copyleft">Polices: <a href="https://creativecommons.org/licenses/by/4.0/deed.fr">CCBY 4.0</a> <a href="https://fontawesome.com/">fontawesome</a> et <a href="http://scripts.sil.org/OFL">OFL</a> <a href="https://fontlibrary.org/fr/font/libertinus-sans">Libertinus</a>, <a href="https://github.com/MakeNowJust/yuki-code">Yuki code</a></li>
    <li class="copyleft">Images : <a href="https://creativecommons.org/licenses/by-sa">CCBYSA</a>, CC0, domaine publique. Sources : <a href="https://www.nasa.gov/">NASA</a> et <a href="https://upload.wikimedia.org/">Wikimedia</a></li>
    <li class="trademark">Images Logo: Tous droits réservés Imladris</li>
    <li class="copyleft">Toutes les licences sont sur notre page <a href="/licence">Licences</a></li>
    <li>Nous retrouver sur <a href="https://wiki.hackerspaces.org/Imladris">Hackerspace</a></li>
  </ul>
</footer>
