{# Menu #}
{# TODO: l’idée est d’avoir une arborescence en :
- Qui : présentation d’Imladris, nombre de personnes, nom des équipes, nom et photo des commerciaux, mais aussi qui sont nos bénéficiaires, qui peut être client, associé, nos fournisseurs, nos partenaires, les structures qu’on a aidé à créer, d’autres tiers-lieux, etc
- Quoi : nos ouvrages, nos œuvres, nos activités/notre offre de service, avec un module e-commerce et des boutons pour acheter des trucs, mais aussi présenter un peu le côté associatif, proposer de faire des dons
- Où : une carte de Lanvollon, l’adresse, une explication de pourquoi on s’est implanté à Lanvollon et une description de la ville, une visibilisation et décision collective de quels sont les quartiers à Lanvollon
- Quand : contexte et historique de création de la coopérative, nos ancêtres, nos évènements, les horaires d’ouverture, les dates des AG, les dates des rétrospectives, une explication de nos stratégies publiques avec leur durée
- Pourquoi : le préambule de nos statuts et nos principes
- Comment : l’explication de tous nos fonctionnements un peu space, le fait qu’on est en SCIC, nos statuts, notre règlement intérieur, l’explication du prix libre, des apports en industrie, bref notre fonctionnement interne #}
<header id="header">
  <h1 id="logo"><a href="/index.html"><img src="/images/logo-imladris-icon.svg" alt="Imladris" />Imladris</a></h1>
  <nav id="nav">
    <ul>
      <li><a href="/index.html">Accueil</a></li>
      <li><a href="/qui.html">Qui ?</a>
        <ul>
          <li><a href="/qui.html#one">Imladris</a></li>
          <li><a href="/qui.html#two">Nos associés</a></li>
          <li><a href="/qui.html#deux">Nos équipes</a></li>
          <li><a href="/qui.html#three">Nos bénéficiaires</a></li>
          <li><a href="/qui.html#four">Nos fournisseurs</a></li>
          <li><a href="/qui.html#five">Essaim</a></li>
        </ul></li>
      <li><a href="/quoi.html">Quoi ?</a>
        <ul>
          <li><a href="/quoi.html#three">Nos ouvrages</a></li>
          <li><a href="/quoi.html#deux">Nos œuvres</a></li>
          <li><a href="/quoi.html#one">Nos prestations</a></li>
          <li><a href="/quoi.html#four">Est-ce une association ?</a></li>
        </ul></li>
      <li><a href="/ou.html">Où ?</a>
        <ul>
          <li><a href="/ou.html#two">Un tiers lieu</a></li>
          <li><a href="/ou.html#one">Nous trouver</a></li>
          <li><a href="/ou.html#deux">Lanvollon</a></li>
          <li><a href="/ou.html#three">Les quartiers</a></li>
        </ul></li>
      <li><a href="/quand.html">Quand ?</a>
        <ul>
          <li><a href="/quand.html#one">Contexte et historique</a></li>
          <li><a href="/quand.html#three">Nos horaires</a></li>
          <!-- <li><a href="/quand.html#three">Calendrier</a></li> -->
          <li><a href="/samain.html">Samain</a></li>
          <li><a href="/beltaine.html">Beltaine</a></li>
          <li><a href="/quand.html#deux">Stratégies à long terme</a></li>
        </ul></li>
      <li><a href="/pourquoi.html">Pourquoi ?</a>
        <ul>
          <li><a href="/pourquoi.html#one">Contexte de crise</a></li>
          <li><a href="/pourquoi.html#deux">Nos principes</a></li>
        </ul></li>
      <li><a href="/comment.html">Comment ?</a>
        <ul>
          <li><a href="/quoi.html#four">Une coopérative SCIC</a></li>
          <li><a href="/financement.html#three">Des apports en industrie</a></li>
          <li><a href="/financement.html#five">Les Communs</a></li>
          <li><a href="/financement.html#four">Prix Libre</a></li>
          <li><a href="/comment.html#environnement">Un souci environnemental</a></li>
          <li><a href="/licence">Licences</a></li>
          <li><a href="/licence/74492C8A">Licence Salon du Livre</a></li>
          <li><a href="/financement.html">Financement</a></li>
      </ul></li>
    </ul>

  {#
  <nav id="nav">
    <ul>
      <li><a href="/index.html">Home</a></li>
      <li>
        <a href="#">Layouts</a>
        <ul>
          <li><a href="/left-sidebar.html">Left Sidebar</a></li>
          <li><a href="/right-sidebar.html">Right Sidebar</a></li>
          <li><a href="/no-sidebar.html">No Sidebar</a></li>
          <li>
            <a href="#">Submenu</a>
            <ul>
              <li><a href="#">Option 1</a></li>
              <li><a href="#">Option 2</a></li>
              <li><a href="#">Option 3</a></li>
              <li><a href="#">Option 4</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <li><a href="/elements.html">Elements</a></li>
      <li><a href="#" class="button primary">Sign Up</a></li>
    </ul>
  </nav>
  #}
</header>
