<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
{% import 'vitrine/macro/sections.html' as sections %}
{% import 'vitrine/macro/cartes.html' as cartes with context %}
<html>
	<head>
		<title>Imladris - Beltaine 2023 à Lanvollon</title>
		<link rel="icon" href="/images/logo-imladris-icon.svg" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
  <body class="is-preload landing samain">
    <div id="page-wrapper">

      <!-- Header -->
      {% include 'vitrine/elements/header.html' %}

      <!-- Banner -->
			{% call() sections.banner(
				title='Livre collectif de Beltaine',
				logo='beltaine/Tree_&_Dragon.jpg',
				img='beltaine/FIRE_01.JPG',
        next_id='general'
			) %}
			L'esprit de Lanvollon se réveille<br />
			Après un long sommeil
			{% endcall %}

      <!-- One -->
			{% call() sections.bottom (
					title='Beltaine, fête celtique traditionnelle',
					subtitle="À cette occasion, nous lançons une œuvre collective sur les arbres de mai.",
					img='beltaine/Abstract_pattern_on_a_tree_stump.jpg',
					id='general', next_id='detail'
			) %}
			<div class="col-4 col-12-medium">
				<p><strong>Beltaine</strong> (ou Beltane) est le nom de la fête celtique à l'origine de la Saint-Jean et du 1er mai.
					( <small><a href="https://fr.wikipedia.org/wiki/Beltaine">petit article historique</a></small> ).
					Pendant cette période, la nature revient de terre, la sève monte dans les arbres et les frondaisons refleurissent.
					C’est le moment de danser sous des arbres enrubannés à la lueur des feux de joie, et de célébrer les arbres et la nature.</p>
				<p><a href="/index.html"><strong>Imladris</strong></a>, votre coopérative de (ré-)animation de village organise un recueil collectif de vos œuvres artistiques.
					 <strong>Pour participer au concours</strong>, choisissez un arbre de Lanvollon qui vous inspire (nous mettrons en place un site pour que tout le monde ne choisisse pas le même).
					 Et composez une œuvre artistique sur cet arbre (dessin, photo, poèmes…). 
					 
				</p>
			</div><div class="col-4 col-12-medium">
				<p>Le <date><strong>1er août</strong></date>, pour <a href="https://fr.wikipedia.org/wiki/Lugnasad"><strong>Lugnasad</strong></a>, les œuvres seront soumises à un vote et les plus belles seront regroupées en un livre édité par Imladris à tirage limité.</p>
				<p>Des questions ? Envie de participer ?</p>
				<p>Vous pouvez vous abonner à la <a href="https://framalistes.org/sympa/info/arbor-ar-goat" class="button circled scrolly center">newsletter</a>, ou participer à référencer vos <a href="https://wiki.lanvollon.info" class="button circled scrolly center">arbres</a>.</p>
				<p>Venez nous en parler au 20 Place du Martray, ou par mail <a href="mailto:contact-beltaine-2023@imladris.bzh">contact-beltaine-2023@imladris.bzh</a></p>
			</div>
			{% endcall %}

<!-- Détail -->
			{% call() sections.left(
				title='Modalités',
				subtitle='',
				img='beltaine/Bright_Light_Trees_7.jpg',
				id='detail', next_id='decouvrir'
			) %}
			<div class="col-4 col-12-medium">
				<p>Nous acceptons tous types d’œuvres (graphiques, écrites) à condition qu’elles <strong>tiennent sur une page</strong>, que vous disposiez des droits et que vous acceptiez sa diffusion sous <strong>licence libre</strong>. Choisissiez un arbre qui n’a pas déjà reçu plus de 6 œuvres, afin de représenter au mieux une grande diversité d’arbres.
				</p>
			</div><div class="col-4 col-12-medium">
				<p>Vous pouvez nous envoyer vos poèmes, dessins, photographies, numérisation de vos peintures <a href="mailto:contact-beltaine-2023@imladris.bzh"><strong>par mail</strong></a>, ou nous les apporter en main propre. Si vous avez besoin de scanner ou photocopier vos œuvres, nous pouvons le faire au local d’Imladris. Attention, maximum trois œuvres par personne !
				</p>
			</div>
			{% endcall %}

<!-- Découvrir -->
{% call() sections.right(
				title='Découvrir les œuvres',
				subtitle='',
				img='paysages/Landscape_with_a_Sunlit_Stream_MET_DT2146.jpg',
				id='decouvrir'
			) %}
			<div class="col-4 col-12-medium">
				<p>Pour découvrir en avant-première les œuvres au fur et à mesure qu’elles nous sont apportées, venez les voir en exclusivité à notre local avant leur mise en ligne.</p>
			</div><div class="col-4 col-12-medium">
				<p>Nous vendrons le recueil obtenu à prix libre, afin de financer nos évènements. </p>
				<p>Vous pouvez à tout moment passer commande pour en recevoir un exemplaire papier relié ou numérique lorsqu’il sera terminé. Les contributeurs seront prioritaires et recevront en plus gratuitement un exemplaire non relié et un numérique.</p>
			</div>
			{% endcall %}

			<!-- Footer -->
			{% include 'vitrine/elements/footer.html' %}


		</div>

    <!-- Scripts -->
		{% include 'vitrine/elements/scripts.html' %}

	</body>
</html>
