<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
{% import 'vitrine/macro/sections.html' as sections %}
{% import 'vitrine/macro/cartes.html' as cartes with context %}
<html>
	<head>
		<title>Imladris - Samain 2022 à Lanvollon</title>
		<link rel="icon" href="/images/logo-imladris-icon.svg" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
  <body class="is-preload landing samain">
    <div id="page-wrapper">

      <!-- Header -->
      {% include 'vitrine/elements/header.html' %}

      <!-- Banner -->
			{% call() sections.banner(
				title='Défilé aux lampions de Samain',
				logo='samain/chauve-souris.jpg',
				img='samain/pazuzu.jpg',
        next_id='general'
			) %}
			L'esprit de Lanvollon est de retour<br />
			Pour vous jouer des tours
			{% endcall %}

      <!-- One -->
			{% call() sections.bottom (
					title='Samain, fête celtique traditionnelle',
					subtitle="À cette occasion, nous organisons un défilé aux lampions dans toute la ville",
					img='samain/samain-chateau.jpg',
					id='general', next_id='merci',
					action=['/samain/affiche.pdf',"Télécharger l'affiche officielle"]
			) %}
			<div class="col-4 col-12-medium">
				<p><strong>Samain</strong> (ou Samhain) est le nom de la fête celtique à l'origine d'Halloween.
					( <small><a href="https://culturedruidique.wordpress.com/2018/10/31/histoire-de-la-samain-en-bretagne/">petit article historique</a></small> ).
					Pendant cette période, la frontière entre notre monde et celui des morts devient plus perméable.
					Il est conseillé de se déguiser et de porter un masque pour ne pas être reconnu par les esprits pris par l'envie de circuler parmi nous.</p>
				<p>Organisé par <a href="/index.html"><strong>Imladris</strong></a>, votre coopérative de (ré-)animation de village !
					 Nous avons décidé de proposer deux parcours.
					 Des lampions seront distribués à prix libre avant le défilé.
					 En référence à la tradition des festins, du thé et des gâteaux seront servis entre les deux parcours (également en prix libre).
				</p>
			</div><div class="col-4 col-12-medium">
				<p>Des questions ? Envie de nous aider ?</p>
				<p>Venez nous parler 20 Place du Martray, ou par mail <a href="mailto:contact-samain@imladris.bzh">contact-samain@imladris.bzh</a></p>
        <p>{% call() cartes.carte_osm(title="Carte d'accès", lon=-2.98577, lat=48.63098, zoom=19) %}{% endcall %}</p>
			</div>
			{% endcall %}

			{% call() sections.bottom (
					title='Merci à tous ceux qui étaient présents',
					subtitle="Malgré l’orage cette année (pour Samain 2022)",
					img='samain/samain-chateau.jpg',
					id='merci', next_id='parcours-1'
			) %}
			<div class="col-4 col-12-medium">
				<p>
					Nous avons eu une <strong>cinquantaine de personnes</strong>, et la sécurité a été assurée par les personnes présentes, avec près de 10% des personnes présentes qui étaient volontaires.<br/>
					Nos <strong>décorations et friandises</strong> semblent avoir été appréciées, et de nombreux habitants avaient décoré leur maison et pensé à prévoir les friandises pour les enfants, notamment dans les nouveaux quartiers.
				</p>
			</div><div class="col-4 col-12-medium">
				<p>
					Le <strong>budget</strong> investi était de 1200 euros en argent et 4000 euros en travail. Nous ne sommes pas rentrés dans nos frais (seulement près de 200 euros de recette), mais nous nous sommes bien amusés.<br/>
					Clairement nous le referons l’an prochain, en s’organisant mieux.<br/>
					Nous pouvons assurer les <strong>commandes groupées</strong> de champignons lumineux et graviers phosphorescents, n’hésitez pas à nous contacter. Des affiches A3+ de l’évènement présentant les différents aos sidhes sont toujours disponibles à prix libre à la coopérative.
				</p>
				<p>
					<strong>Merci à vous.</strong>
				</p>
			</div>

			{% endcall %}


      <!-- 1er parcours -->
			{% call() sections.right(
					title='1er parcours',
					subtitle='Marche tranquille',
					img='samain/lampion.jpg',
					id='parcours-1', next_id='parcours-2'
			) %}
			<p>Rendez-vous à <strong>18h</strong> pour la distribution des lampions, prix libre</p>
      <p>Départ à <strong>18h30</strong></p>
			<p class="image fit"><img src="/images/samain/parcours-1.jpg" alt="Nord-est de la ville, en passant sous le foyer et en remontant par le parc" /></p>
			{% endcall %}

			<!-- 2ème parcours -->
			{% call() sections.left(
					title='2ème parcours',
					subtitle='Pour les aventuriers',
					img='samain/feux-follets.jpg',
					id='parcours-2'
			) %}
			<p>Rendez-vous à <strong>20h30</strong> pour la distribution des lampions, prix libre</p>
			<p>Départ à <strong>21h</strong></p>
			<p class="image fit"><img src="/images/samain/parcours-2.jpg" alt="Ouest de la ville, avec un passage en forêt" /></p>
			{% endcall %}

			<!-- Footer -->
			{% include 'vitrine/elements/footer.html' %}


		</div>

    <!-- Scripts -->
		{% include 'vitrine/elements/scripts.html' %}

	</body>
</html>
