<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
{% import 'vitrine/macro/sections.html' as sections %}
{% import 'vitrine/macro/cartes.html' as cartes with context %}
<html>
	<head>
		<title>Imladris</title>
		<link rel="icon" href="/images/logo-imladris-icon.svg" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
			{% include 'vitrine/elements/header.html' %}

			<!-- Banner -->
			{% call() sections.banner(
				title='Imladris',
				logo='logo-imladris.svg',
				img='vaches/meuhmeuh01.jpg'
			) %}
			Des méthodes innovantes<br />
			d’intérêt collectif
			{% endcall %}

			<!-- One -->
			{% call() sections.bottom (
					title='Nos innovations',
					subtitle='Innovations sociales',
					img='etoiles/etoiles-1.jpg',
					id='one', next_id='two'
			) %}
			<div class="col-4 col-12-medium">
				<p>Dans un contexte de crises à venir, notre structure est née de notre réflexion et notre expérience basés sur les travaux d’anthropologues politiques.</p>
				</div>
			<div class="col-4 col-12-medium">
				<p>Nous testons des méthodes d’organisations sociales alternatives, anciennes et oubliées ou complètement nouvelles, afin de résoudre les problèmes sociaux de notre époque.</p>
				<p><a href="/quoi.html#deux" class="button circled scrolly center">en savoir plus</a></p>
			</div>

			{% endcall %}

			<!-- Two -->
			{% call() sections.right(
					title='Nos innovations',
					subtitle='Innovations économiques',
					img='vaches/meuhmeuh02.jpg',
					id='two', next_id='deux'
			) %}
			<div class="col-4 col-12-medium">
				<p>Dans un contexte de crises à venir, notre structure est née de notre réflexion et notre expérience basés sur les travaux d’économistes.</p>
				</div>
			<div class="col-4 col-12-medium">
				<p>Nous testons des relations économiques, anciennes et oubliées ou complètement nouvelles, afin de résoudre les problèmes économiques de notre époque.</p>
				<p><a href="/financement.html" class="button circled scrolly center">en savoir plus</a></p>
			</div>
					 
			{% endcall %}
			<!-- Deux -->
			{% call() sections.left(
					title='Nos innovations',
					subtitle='Innovations juridiques',
					img='vaches/meuhmeuh03.jpg',
					id='deux', next_id='trois'
			) %}
			<div class="col-4 col-12-medium">
				<p>Dans un contexte de crises à venir, notre structure est née de notre réflexion et notre expérience basés sur les possibilités qu’offrent les lois.</p>
				</div>
			<div class="col-4 col-12-medium">
				<p>Nous testons des méthodes d’organisation, des types de structures et des statuts alternatifs, anciens et oubliés ou complètement nouveaux, afin de résoudre les problèmes organisationnels de notre époque.</p>
				<p><a href="/quoi.html#four" class="button circled scrolly center">en savoir plus</a></p>
			</div>
					 
			{% endcall %}

			<!-- Trois -->
			{% call() sections.right(
					title='Nos innovations',
					subtitle='Innovations environnementales',
					img='vaches/meuhmeuh03.jpg',
					id='trois', next_id='environnement'
			) %}
			<div class="col-4 col-12-medium">
				<p>Dans un contexte de crises à venir, notre structure est née de notre réflexion et notre expérience basés sur les expérimentations de nombreux lieux alternatifs.</p>
				</div>
			<div class="col-4 col-12-medium">
				<p>Nous testons des techniques écologiques alternatives, anciennes et oubliées ou complètement nouvelles, afin de résoudre les problèmes environnementaux de notre époque.</p>
				<p><a href="/comment.html#environnement" class="button circled scrolly center">en savoir plus</a></p>
			</div>
					 
			{% endcall %}

			<!-- Environnement -->
			{% call() sections.bottom(
					title='Protection de l’environnement',
					subtitle='Dans chacune de nos démarches nous nous soucions de l’impact de nos actions.',
					img='vaches/meuhmeuh03.jpg',
					id='environnement'
			) %}
			<div class="col-4 col-12-medium">
				<p>Nous sommes très engagés dans le circuit court dans tous nos services, et nous recherchons constamment des produits et des fournisseurs plus soucieux de l’environnement. Nous sommes dans une logique de filière, de la conception à la destruction.</p>
				</div>
			<div class="col-4 col-12-medium">
				<p>Nous fabriquons et réparons par nous-même une partie de nos équipements et sommes en transition pour passer exclusivement aux mobilités douces. Nous avons un compost et récupérons les restes alimentaires et le pain sec pour nourrir des animaux.</p>
			</div>
					 
			{% endcall %}

			<!-- Footer -->
			{% include 'vitrine/elements/footer.html' %}


		</div>

		<!-- Scripts -->
		{% include 'vitrine/elements/scripts.html' %}


	</body>
</html>
