<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
{% import 'vitrine/macro/sections.html' as sections %}
{% import 'vitrine/macro/cartes.html' as cartes with context %}
<html>
	<head>
		<title>Imladris</title>
		<link rel="icon" href="/images/logo-imladris-icon.svg" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
			{% include 'vitrine/elements/header.html' %}

			<!-- Banner -->
			{% call() sections.banner(
				title='Imladris',
				logo='logo-imladris.svg',
				img='vaches/meuhmeuh01.jpg'
			) %}
			L’esprit de Lanvollon est de retour !
			{% endcall %}

			<!-- One -->
			{% call() sections.bottom (
					title='Imladris',
					subtitle='Au 20 place du Martray à Lanvollon',
					img='etoiles/etoiles-1.jpg',
					id='one', next_id='three'
			) %}
			<p>Tiers-lieu coopératif d’entraide. Maison pour tous. Services aux entreprises et aux associations.</p>
			{% endcall %}
			<!-- Three -->
			{% call() sections.left(
					title='Venez nous rencontrer',
					img='paysages/Landscape_with_Ducks_MET_0165-1.jpg',
					id='three', next_id='four',
					action=('https://www.openstreetmap.org/way/265243611','20 place du Martray, à Lanvollon')
			) %}
			<p>
				Vous êtes les bienvenus si vous voulez faire connaissance ou nous aider. Nous avons toujours du thé et des gâteaux à disposition ( et parfois même du saucisson bio ). Sur nos horaires de permanence ou quand vous voyez de la lumière ;)
			</p>
			<p>{% call() cartes.carte_osm(title="Carte d'accès", lon=-2.98577, lat=48.63098, zoom=19) %}{% endcall %}</p>
			{% endcall %}

			<!-- Four -->
			{% call(one) sections.icon_box(
					title='On y fait quoi ?',
					subtitle='Ici vous pouvez rencontrer, échanger, discuter. Mais aussi agir ! Nous vous aidons à monter vos activités.',
					id='four',
					list=[
						("cat","Entraide","Nous pouvons nous entraider. Informatique, couture, travail du bois, … Dans tous les domaines vous trouverez quelqu’un."),
						("seedling","Couveuse et pépinière","Envie de créer une association ou une entreprise ?</br>Nous partageons notre expérience et sommes couveuse et pépinière d’activités."),
						("spaghetti-monster-flying","Des trucs à imprimer ?","A4, A3/A3+, papier photo ou couché, tout est prix libre. Nous concevons et imprimons aussi affiches, flyers et cartes de visite."),
						("scale-balanced alt","Communs","Et si au lieu d’acheter tous les mêmes choses nous les mettions en commun ? </br>Nous avons à disposition du matériel de couture, des outils de bricolage, une imprimante, des ordinateurs en libre service, …"),
						("paw","Chat !","On a un chat ! <small>( et c’est notre commercial )</small>"),
						("cow","Transports","On rêve, un jour, de développer des transports en commun à traction animale."),
						]
			) %}

				<span class="icon solid major fa-{{ one[0] }}"></span>
				<h3>{{ one[1] }}</h3>
				{% autoescape false %}
				<p>{{ one[2] }}</p>
				{% endautoescape %}
			{% endcall %}


			<!-- Footer -->
			{% include 'vitrine/elements/footer.html' %}


		</div>

		<!-- Scripts -->
		{% include 'vitrine/elements/scripts.html' %}


	</body>
</html>
