<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
{% import 'vitrine/macro/sections.html' as sections %}
{% import 'vitrine/macro/cartes.html' as cartes with context %}
<html>
	<head>
		<title>Imladris</title>
		<link rel="icon" href="/images/logo-imladris-icon.svg" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
			{% include 'vitrine/elements/header.html' %}

			<!-- Banner -->
			{% call() sections.banner(
				title='Imladris est à Lanvollon',
				logo='logo-imladris.svg',
				img='vaches/meuhmeuh01.jpg'
			) %}
			Imladris<br />
			L’esprit de Lanvollon est de retour !
			{% endcall %}

			<!-- One -->
			{% call() sections.bottom (
					title='Nous trouver',
					subtitle='En plein cœur de Lanvollon',
					img='etoiles/etoiles-1.jpg',
					id='one', next_id='two',
					action=('https://www.openstreetmap.org/way/265243611','20 place du Martray, à Lanvollon')
			) %}
			<div class="col-4 col-12-medium">
				<p>Notre local est situé au 20 place du Martay à Lanvollon.</p>
				<p>Plus concrètement la place où il y a l’église côté bars, pas côté mairie.</p>
				<p>Il y a des beaux dessins sur la vitrine, notamment des dragons !</p>
			</div><div class="col-4 col-12-medium">
				<p>Certains se souviennent que la chocolaterie y a été un moment, mais c’est pas forcément un point de repère fiable.</p>
				<p>Pour ceux qui connaissent c’est l’ancien opticien. Lanvollonnais ou pas, si vous êtes dans la région depuis des lustres vous avez sûrement une vague idée.</p>
				<p>Quant à nos doyens, ils se souviendront quand notre local était coupé en deux avec d’un côté une librairie ou papeterie, et de l’autre un magasin de sport.</p>
			</div>
			<p>{% call() cartes.carte_osm(title="Carte d'accès", lon=-2.98577, lat=48.63098, zoom=19) %}{% endcall %}</p>
			{% endcall %}

			<!-- Two -->
			{% call() sections.left (
					title='Un tiers-lieu',
					subtitle='Une coopérative d’intérêt collectif au service des Lanvollonnais',
					img='etoiles/etoiles-2.jpg',
					id='two', next_id='deux'
			) %}
			<div class="col-4 col-12-medium">
				<p>Le siège d’Imladris est un lieu de rencontre, de partage et d’entraide, un <a href="https://fr.wikipedia.org/wiki/Tiers-lieu"><strong>tiers-lieu.</strong></a></p>
				<p>Les tiers-lieux désignent des espaces où une communauté de citoyens souhaite construire un monde commun, où tous s'y sentiront comme chez eux. Un peu comme une maison pour tous.</p>
				<p>Notre porte est ouverte à tous ceux qui souhaitent la franchir, mais notre local est un bien commun pour les Lanvollonnais.</p>
			</div><div class="col-4 col-12-medium">
				<p>Si vous avez besoin d’aide dans n’importe quel domaine, venez nous voir. Nous vous aiderons de notre mieux, ou nous pourrons peut-être trouver quelqu’un d’autre pour vous aider.</p>
				<p>Vous avez envie de vous rendre utile ? de nous aider ? de mettre en commun matériel et compétences ? C’est le bon endroit.</p>
				<p>Pas d’ici ? Pour trouver ou créer un tiers lieu dans votre ville, n’hésitez pas à nous contacter ou à consulter les cartes faites par les <a href="https://cartographie.francetierslieux.fr/#">associations</a> ou <a href="https://coop.tierslieux.net/tiers-lieux/carte/">coopératives</a> sur le thème.</p>
				<!-- TODO : ce serait stylé d’ajouter ici la carte issue de l’association des tiers lieux et de la coopérative des tiers lieux, faire une macro (et l’ajouter aussi dans qui/essaim) -->
			</div>
					 
			{% endcall %}
<!-- TODO : suite -->
			<!-- Deux -->
			{% call() sections.right(
					title='Lanvollon',
					subtitle='Contexte',
					img='vaches/meuhmeuh03.jpg',
					id='deux', next_id='deux-bis'
			) %}
				<p>{% call() cartes.carte_osm(title="Carte d'accès", lon=-2.98577, lat=48.63098, zoom=10) %}{% endcall %}</p>
				<p><a href="https://fr.wikipedia.org/wiki/Lanvollon"><strong>Lanvollon</strong></a> est une commune bretonne d’environ 1 800 habitants située dans le triangle des Bermudes breton (Guingamp/Paimpol/Saint-Brieuc), dans les terres.</p>
				<p>Cette ville, carrefour de routes, est historiquement souvent en rivalité bon enfant avec Plouha, à 10km qui elle est sur la côte.</p>
				<p>Lanvollon est historiquement une ville de marchands comptant actuellement plus de 200 entreprises et plusieurs dizaines d’associations, et on raconte qu’une personnalité royale y aurait séjourné…</p>
					 
			{% endcall %}
			<!-- Deux-bis -->
			{% call() sections.left(
					title='Lanvollon',
					subtitle='Réanimons notre village',
					img='vaches/meuhmeuh03.jpg',
					id='deux-bis', next_id='three'
			) %}
				<p>{% call() cartes.carte_osm(title="Carte d'accès", lon=-2.98577, lat=48.63098, zoom=10) %}{% endcall %}</p>
				<p>Le village est connu pour avoir pleins d’évènements, mais personne ne sait jamais quand et le centre ville se meurt…</p>
				<p>Nous qui y habitons, y travaillons, y avons de la famille, ou y sommes scolarisés, nous aimons Lanvollon et sommes fiers d’être Lanvollonnais</p>
				<p><a href="/quand.html#two" class="button circled scrolly center">en savoir plus</a></p>
					 
			{% endcall %}

			<!-- Three -->
			{% call() sections.right(
					title='Les quartiers',
					subtitle="De quel quartier de Lanvollon êtes-vous ?",
					img='paysages/Landscape_with_Ducks_MET_0165-1.jpg',
					id='three',
			) %}
			<p>
				Nous ne sommes pour l’instant pas présent dans tous les quartiers de Lanvollon, mais nous ne vous oublions pas, même les Lanvollonnais les plus éloignés. Nous sommes accessibles à pied, et un jour peut-être, en chariot à ânes.
			</p>
			<p>En attendant n’hésitez pas à nous parler de votre quartier, de ce que vous aimeriez y faire, des entraides locales existantes</p>
			<p>{% call() cartes.carte_osm(title="Carte d'accès", lon=-2.98577, lat=48.63098, zoom=15) %}{% endcall %}</p>
			{% endcall %}

			<!-- Footer -->
			{% include 'vitrine/elements/footer.html' %}


		</div>

		<!-- Scripts -->
		{% include 'vitrine/elements/scripts.html' %}


	</body>
</html>
