<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
{% import 'vitrine/macro/sections.html' as sections %}
{% import 'vitrine/macro/cartes.html' as cartes with context %}
<html>
	<head>
		<title>Imladris</title>
		<link rel="icon" href="/images/logo-imladris-icon.svg" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
			{% include 'vitrine/elements/header.html' %}

			<!-- Banner -->
			{% call() sections.banner(
				title='Imladris',
				logo='logo-imladris.svg',
				img='vaches/meuhmeuh01.jpg'
			) %}
			Pourquoi créer cette structure ?
			{% endcall %}

			<!-- One -->
			{% call() sections.left (
					title='La crise qui vient…',
					subtitle='Nous vivons une époque charnière, confrontée à un grand nombre de crises simultanées qui sont autant de défis que nous devrons relever.',
					img='etoiles/etoiles-1.jpg',
					id='one', next_id='suite'
			) %}
			<div class="col-4 col-12-medium">
<p>Crises <strong>environnementales</strong>, avec le réchauffement climatique, la perte de la biodiversité, l’épuisement des ressources, la recrudescence des catastrophes naturelles et sanitaires ;</p>
<p>Crises <strong>sociales</strong>, avec l’aggravation des inégalités et des tensions entre le Nord et le Sud, l’Est et l’Ouest, mais également au sein même des pays, avec la concentration extrêmement rapide et importante des richesses aux mains d’une infime partie de la population, et un délitement des liens sociaux qui nous permettent de vivre ensemble ;</p>
			</div><div class="col-4 col-12-medium">
<p>Crises <strong>économiques</strong> avec la constatation unanime des dérives du système financier, particulièrement illustrées par la crise de 2008 et les crises économiques à venir et programmées, par l’augmentation sans fin du chômage, la désindustrialisation de nos pays, la financiarisation généralisée et la marchandisation à tout crin. La pandémie a, par ailleurs, révélé la grande <strong>fragilité</strong> de notre système de production et d’approvisionnement mondialisé ;</p>
<p>Crises <strong>symboliques</strong>, avec la remise en cause violente de la représentativité politique, de la place de la religion dans nos sociétés, de la primauté de la lutte des uns contre les autres au détriment de la coopération, de la réduction des personnes et de leur valeur à leur unique fonction « d’agent économique et technique ».</p>
			</div>
			{% endcall %}

			<!-- Suite -->
			{% call() sections.right (
					title='… Nos réactions…',
					subtitle='Nos réactions à ces crises et aux évolutions qu’elles impliquent sont avant tout humaines :',
					img='etoiles/etoiles-1.jpg',
					id='suite', next_id='two'
			) %}
			<div class="col-4 col-12-medium">
				<p>Fortement chargées émotionnellement, subjectives et diversifiées. Cette situation provoque de nombreuses angoisses, disputes entre personnes et conflits entre groupes à toutes les échelles. Les blocages poussent un grand nombre de personnes vers des solutions violentes ou dépressives ou les leur rendent de plus en plus acceptables, renforçant l’enfermement idéologique et l’incompréhension mutuelle.</p>
			</div><div class="col-4 col-12-medium">
				<p>Ces réactions sont provoquées par les <strong>difficultés grandissantes</strong> et concrètes que ces crises amènent dans notre capacité à vivre dignement. Elles sont gonflées par les indignations régulièrement répétées, qui accompagnent comme autant de blessures notre prise de conscience de la situation et de notre incapacité à y répondre correctement.</p>
				<p>Elles manifestent en réalité surtout le symptôme de notre incapacité à <strong>résoudre collectivement</strong> nos angoisses et nos peurs individuelles.</p>
			</div>

			{% endcall %}

			<!-- Two -->
			{% call() sections.left(
					title='… Nous regrouper en coopérative…',
					subtitle='Notre coopération est née dans un contexte de crises à venir',
					img='vaches/meuhmeuh02.jpg',
					id='two', next_id='bis'
			) %}
				<div class="col-4 col-12-medium">
<p>Suite à ces constats, afin de nous porter au-devant de ces crises, nous décidons d’agir à notre échelle et de nous regrouper en coopérative.</p>
<p>Nous croyons fortement dans la capacité de <strong>l’intelligence collective</strong>, si ce n’est à résoudre nos problèmes, tout au moins à nous aider à passer ce cap difficile au mieux. Mais nous ne pensons pas que cette intelligence collective aille de soi.</p>
			</div><div class="col-4 col-12-medium">
<p>Notre approche est de reconstruire avant tout <strong>un espace physique et local de rencontre et d’entre-soin</strong>, où nous pourrons ré-apprendre à accueillir et à prendre soin de nos peurs, de notre désespoir ou de nos angoisses vis-à-vis de l’avenir ou de difficultés présentes. Ce qui nécessite de notre point de vue, tout en restant <strong>lucide</strong> sur la gravité de la situation, de limiter l’ambiance pessimiste et défaitiste qui accompagne souvent ces constats. Nous essayerons de redonner une importance et un temps aux échanges humains, à l’humour, à l’auto-dérision et aux expériences de vie agréables. Nous tenterons de <strong>faciliter l’entraide dans des logiques d’entre-soin</strong>, le besoin de se sentir utile et capable, étant également un des besoins vitaux nécessaires à notre bien être, très mal comblé à notre époque.</p>
			</div>
			{% endcall %}

			<!-- Bis -->
			{% call() sections.right(
					title='… pour construire des Communs.',
					subtitle='Nous pensons ensuite nécessaire de réactiver nos capacités à nous enrichir du point de vue des autres.',
					img='vaches/meuhmeuh02.jpg',
					id='bis', next_id='deux'
			) %}
			<div class="col-4 col-12-medium">
				<p>Donc, dans le respect de l’intimité comme de la vie publique de chacun et chacune, d’améliorer notre capacité à exprimer et à entendre nos points de vues ou nos doutes, à prendre conscience du contexte réel et des expériences de vie de celles et ceux qui les ont exprimées, avant même de nous penser capables de décider collectivement de quoi que ce soit.</p>
				<p>Ensuite, nous cherchons à reconstruire et entretenir notre capacité à réfléchir, à communiquer et à expérimenter collectivement des pistes possibles. Ce qui implique de travailler autant notre capacité de réflexion collective et dissensuelle, nos moyens économiques et matériels à mettre en œuvre et de laisser faire des expérimentations même tâtonnantes, ainsi que notre capacité à partager et à accueillir sereinement leurs résultats, en particulier en cas d’échecs.</p>
			</div><div class="col-4 col-12-medium">
<p>Enfin, nous cherchons à constituer et <strong>pérenniser les communs</strong> issus de cette œuvre collective de synthèse et de compromis, en ancrant le travail des générations présentes dans ce qui relie les générations passées et celles encore à naître.</p>
<p>Ceci est le début du préambule de nos statuts, écrit en mai 2021.</p>
			</div>				

					 
			{% endcall %}
			<!-- Deux -->
			{% call() sections.left(
					title='Nos principes fondateurs sociaux, politiques et économiques',
					subtitle='Car chacun a ses propres valeurs',
					img='vaches/meuhmeuh03.jpg',
					id='deux',
			) %}
			<div class="col-4 col-12-medium">
				<ul>Nous voulons :
					<li>Construire un environnement d’<strong>entre-soin</strong></li>
					<li>Préserver un équilibre lucide entre les mondes en alliant <strong>cybernétique et druidisme</strong></li>
					<li>Enrichir la culture lanvollonnaise, vue comme un <strong>pot-au-feu</strong> culturel</li>
					<li>Mutualiser à Lanvollon en un <strong>commun</strong> ce qu’on peut protéger des grosses structures de pouvoir</li>
					<li>Encourager l’<strong>action libre et directe</strong> de chacun, en responsabilité</li>
					<li>Entraîner notre <strong>esprit guerrier</strong> par une auto-discipline afin de protéger nos communs</li>
				</ul>
			</div><div class="col-4 col-12-medium">
				<ul>Nous voulons :
					<li>Construire un souhaitable commun <strong>républicain</strong> et démocratique par intelligence collective</li>
					<li>Nous inscrire dans la tradition <strong>anarchiste</strong> fédéraliste et autonomiste des coopératives</li>
					<li>Gérer les budgets en autonomie à l’échelon le plus petit d’une fédération en <a href="https://fr.wikipedia.org/wiki/Principe_de_subsidiarit%C3%A9"><strong>subsidiarité ascendante</strong></a></li>
					<li>Répartir pertes et profits dans une logique <strong>de chacun selon ses moyens à chacun selon ses besoins</strong></li>
					<li>Pouvoir <strong>investir</strong> ce que nous possédons de plus précieux c’est-à-dire notre temps de vie, sous la forme d’un <strong>travail</strong> à forte utilité sociale</li>
					<li><strong>Séparer comptablement</strong> réserves de valeur, communs et ressources temporaires</li>
				</ul>
			</div>
					 
			{% endcall %}


			<!-- Footer -->
			{% include 'vitrine/elements/footer.html' %}


		</div>

		<!-- Scripts -->
		{% include 'vitrine/elements/scripts.html' %}


	</body>
</html>
