<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
{% import 'vitrine/macro/sections.html' as sections %}
{% import 'vitrine/macro/cartes.html' as cartes with context %}
<html>
<!--
	<script>
		(function(){
			// use of JSON.parse to secure data.
			var vacances = JSON.parse('{{ vacances }}');
			var absences = JSON.parse('{{ absences }}');
			var reserves = JSON.parse('{{ reserves }}');
			Object.freeze(vacances);
			Object.freeze(absences);
			Object.freeze(reserves);
			window.data_dates = {
				vacances:vacances,
				absences:absences,
				reserves:reserves
			};
			Object.freeze(window.data_dates);
		})();
	</script>
	-->
	<head>
		<title>Imladris</title>
		<link rel="icon" href="/images/logo-imladris-icon.svg" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
			{% include 'vitrine/elements/header.html' %}

			<!-- Banner -->
			{% call() sections.banner(
				title='Imladris',
				logo='logo-imladris.svg',
				img='vaches/meuhmeuh01.jpg'
			) %}
			L’esprit de Lanvollon est de retour<br />
			Une œuvre pour les générations futures…
			{% endcall %}

			<!-- One -->
			{% call() sections.bottom (
					title='Contexte et historique',
					subtitle='Nos ancêtres',
					img='etoiles/etoiles-1.jpg',
					id='one', next_id='two'
			) %}
			<div class="col-4 col-12-medium">
				<p>Imladris est une <a href="/quoi.html#four">SCIC</a> lanvollonnaise créée au printemps 2022 par 6 personnes, dans un contexte de crises imminentes.</p>
				<p>Le nom Imladris vient du nom elfique de <a href="https://fr.wikipedia.org/wiki/Fondcombe">Fondcombe</a> dans le seigneur des anneaux, un havre de paix qui prend soin des aventuriers au milieu du chemin.</p>
				<p>Imladris s’inspire des <a href="https://fr.wikipedia.org/wiki/Tiers-lieu#Le_tiers-lieu_rural">tiers-lieux</a>, des <a href="https://fr.wikipedia.org/wiki/Hackerspace">hackerspaces</a>, des <a href="https://fr.wikipedia.org/wiki/Fab_lab">fablabs</a> et des <a href="https://fr.wikipedia.org/wiki/Caf%C3%A9_associatif">cafés associatifs</a>.</p>
			</div><div class="col-4 col-12-medium">
				<p>Imladris est une coopérative, à la façon d’<a href="https://fr.wikipedia.org/wiki/Robert_Owen">Owen</a> et des <a href="https://fr.wikipedia.org/wiki/%C3%89quitables_Pionniers#Les_principes_de_Rochdale">principes de Rochdale</a>, pas au sens des grosses coopératives agricoles monopolistiques. </p>
				<p>Imladris essaye de constituer des <a href="https://fr.wikipedia.org/wiki/Communs">communs</a> au sens d’<a href="https://fr.wikipedia.org/wiki/Elinor_Ostrom">Elinor Oström</a>, et d’accomplir des <a href="https://fr.wikipedia.org/wiki/Hannah_Arendt#L%E2%80%99%C5%93uvre_et_l'%C2%AB_Homo_Faber_%C2%BB">œuvres au sens d’Hannah Arendt</a>, dans la mouvance de la <a href="https://fr.wikipedia.org/wiki/Culture_libre">culture libriste</a>.</p>
				<p>Imladris prend sa source à Lanvollon, et est une entreprise bretonne qui le revendique.</p>
			</div>

			{% endcall %}

			<!-- Two -->
			{% call() sections.left(
					title='Lanvollon,',
					subtitle='Histoire du berceau d’Imladris',
					img='vaches/meuhmeuh02.jpg',
					id='two', next_id='deux'
			) %}
				<div class="col-4 col-12-medium">
				<p>Lanvollon est un grand village breton médiéval, situé dans le triangle des Bermudes Paimpol/Guingamp/Saint-Brieuc, à la croisée des chemins…</p>
				<p>Le nom Lanvollon vient de Saint Volon qui a créé l’ermitage au VIIème siècle, et son nom breton serait Lannon ou Lannolon…</p>
				<p>Lanvollon est historiquement un bourg de marchands du VIIème siècle au XXème.</p>
			</div><div class="col-4 col-12-medium">
				<p>Plus récemment, Lanvollon a abrité son <a href="https://annuairedessel.org/">système d’échanges local</a>, dispose de ses bières craft, de son association de danse bretonne, de vidéastes connus et d’équipes sportives renommées…</p>
				<p>C’est dans cette mouvance qu’Imladris couve des activités comme la radio <a href="https://wiki.la.voix.de.lanvollon.net">La Voix de Lanvollon</a> ainsi qu’une boulangerie-épicerie itinérante par traction animale avec des ânes…</p> <!-- attention, radio : modif en enlevant «wiki» -->
				<p><a href="/ou.html#deux" class="button circled scrolly center">en savoir plus sur Lanvollon</a></p>
			</div>
					 
			{% endcall %}
			<!-- Deux -->
			{% call() sections.right(
					title='Imladris, une œuvre pour les générations futures',
					subtitle='Nos stratégies à long terme',
					img='vaches/meuhmeuh03.jpg',
					id='deux', next_id='three'
			) %}
				<div class="col-4 col-12-medium">
				<p>Nous pensons Imladris sur le temps long. Nous construisons des œuvres sur plusieurs générations pour bénéficier à tous. Certaines de ces <a href="/quoi.html#deux">œuvres</a> sont co-construites entre les différents associés coopérateurs. D’autres sont déléguées par l’AG à des équipes précises.</p>
				<p>Pour permettre aux Lanvollonnais une certaine protection face aux effets des crises à venir, nous avons décidé de nous centrer sur les besoins vitaux matériels et relationnels.</p>
			</div><div class="col-4 col-12-medium">
				<p>Par la création d’un tiers-lieu, mais aussi par la mise en place progressive d’un réseau de distribution et de transport attelé par ânes en circuit court pour la fin du pétrole. Et par la création de communs.</p>
				<p>Pour en savoir plus sur nos stratégies, venez-nous voir lors des rétrospectives du vendredi, à 15h. <a href="/financement.html" class="button circled scrolly center">en savoir plus</a></p>
			</div>
					 
			{% endcall %}

			<!-- Three -->
			{% call() sections.left(
					title='Nous rencontrer',
					subtitle="On n'a pas attendu la fin des travaux pour ouvrir ;)",
					img='paysages/Landscape_with_Ducks_MET_0165-1.jpg',
					id='three', next_id='horaires',
					action=('https://www.openstreetmap.org/way/265243611','20 place du Martray, à Lanvollon')
			) %}
			<p>
				Vous êtes les bienvenus si vous voulez faire connaissance ou nous aider. Nous avons presque toujours du thé et des gâteaux à disposition ( et parfois même du saucisson bio ).<br/>
				Pour l'instant nous sommes ouverts les <strong>mercredis</strong>, <strong>jeudis</strong>, <strong>vendredis</strong> de <strong>10H30</strong> à <strong>19H30</strong> (les horaires les plus à jour sont toujours ceux sur la vitrine).
			</p>
			<!-- <div id="calendar" class="col-6 col-7-wide col-9-normal col-12-narrow col-12-narrower col-12-mobile"></div>
			<div id="horaires" class="col-6 col-5-wide col-3-normal col-12-narrow col-12-narrower col-12-mobile"> horaires </div> -->
			<p>{% call() cartes.carte_osm(title="Carte d'accès", lon=-2.98577, lat=48.63098, zoom=19) %}{% endcall %}</p>
			<p>Quand vous voyez de la lumière, que la grille est ouverte, n’hésitez pas à entrer avec assurance sans frapper (en faisant attention à ne pas laisser sortir le chat quand il est là ;) ). Vous pouvez pousser ou tirer la porte avec la tête de dragon, peu importe.</p>

			{% endcall %}

			<!-- Horaires -->
			{% call() sections.right(
					title='Horaires des réunions',
					subtitle="Retrouver nos équipes",
					img='paysages/Landscape_with_Ducks_MET_0165-1.jpg',
					id='horaires'
			) %}
			<ul>Vous pouvez retrouver : 
			        <li>l’équipe de la radio locale La Voix de Lanvollon les <strong>mercredis à 15h</strong>,</li> 
			        <li>l’équipe de mise en place d’une boulangerie-épicerie itinérante par traction animale avec des ânes les <strong>vendredis à 18h</strong>,</li> 
			        <li>et les rétrospectives/AG les <strong>vendredis à 15h</strong> pour savoir sur ce qui s’est fait dans la semaine.</li> 
			        <li>Le <strong>lundi aprèm</strong> on fait généralement des travaux dans le local pour ceux qui veulent aider.</li>
			        <li>Plus d’infos sur nos horaires en venant nous voir quand on est là.</li> 
		        </ul>
			<p><a href="/qui.html#deux" class="button circled scrolly center">en savoir plus sur nos équipes</a></p>
			{% endcall %}
			<!-- Four -->
<!--
			{% call(one) sections.icon_box(
					title='On y fait quoi ?',
					subtitle='Ici vous pouvez rencontrer, échanger, discuter. Mais aussi agir ! Nous vous aidons à monter vos activités.',
					id='four',
					list=[
						("cat","Entraide","Nous pouvons nous entraider. Informatique, couture, travail du bois, … Dans tous les domaines vous trouverez quelqu’un."),
						("seedling","Couveuse et pépinière","Envie de créer une association ou une entreprise ?</br>Nous partageons notre expérience et sommes couveuse et pépinière d’activités."),
						("book-skull","Envie de bouquiner ? De discuter ?","Venez vous poser sur la banquette avec un bon livre et un petit thé, sans obligation financière."),
						("martini-glass-citrus","Envie de vous détendre et de grignoter ?","Il y a un coin salon de thé en prix libre, avec des gâteaux ou du saucisson."),
						("spaghetti-monster-flying","Des trucs à imprimer ?","A4, A3/A3+, papier photo ou couché, tout est prix libre. Nous concevons et imprimons aussi affiches, flyers et cartes de visite."),
						("computer","Hackerspace","Nous sommes en train d'installer une salle informatique, avec des ordinateurs en libre service connectés à internet"),
						("dice-d20","Jeux de société","S’il y a des intéressés, nous organiserons des séances jeux de société, du scrabble à Donjon et dragons… On a aussi un projecteur pour faire des soirées LAN ou des soirées animes."),
						("piggy-bank","Intérêt collectif","Notre but n’est pas commercial ou marketing.</br>Notre but est le collectif. L’important est de passer un bon moment. Après si vous avez des sous n’hésitez pas à penser au cochon."),
						("scale-balanced alt","Communs","Et si au lieu d’acheter tous les mêmes choses nous les mettions en commun ? </br>Nous avons à disposition du matériel de couture, des outils de bricolage, une imprimante, …"),
						("hat-wizard","Vous rencontrez un problème ?","L’intelligence collective et l’entraide vont nous mener à une solution locale."),
						("paw","Chat !","On a un chat ! <small>( et c’est notre commercial )</small>"),
						("cow","Transports","On rêve, un jour, de développer des transports en commun à traction animale."),
						("cloud-sun-rain","Nous sommes bretons… avec un humour à la c…","En bretagne comme à Fondcombe, il fait beau plusieurs fois par jour ;) <br/>Nous avons beaucoup de fournisseurs lanvollonnais, et nous encourageons le made in Breizh et le made in France.</br><span lang=\"br\">Ni, Lannoniz a galon, karomp hon gwir Vro !</span>" )
					]
			) %}
				{#
					Sympa, mais contenu à trouver :)
				("shield-cat","shield-cat","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
				("dragon","dragon","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
				("tractor","tractor","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
				("fish","fish","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
				("hourglass-start","hourglass-start","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
				("masks-theater","masks-theater","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
				("mercury alt","mercury","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
				("user-astronaut","seedling","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
				("torii-gate","torii-gate","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
				("user-ninja alt","user-ninja","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.")

				Ne fonctionnent malheureusement pas :’(
				("sith","sith","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor."),
				("galactic-senate","galactic-senate","Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.")
				#}
				<span class="icon solid major fa-{{ one[0] }}"></span>
				<h3>{{ one[1] }}</h3>
				{% autoescape false %}
				<p>{{ one[2] }}</p>
				{% endautoescape %}
			{% endcall %}
-->

			<!-- Footer -->
			{% include 'vitrine/elements/footer.html' %}


		</div>

		<!-- Scripts -->
		{% include 'vitrine/elements/scripts.html' %}


	</body>
</html>
