<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
{% import 'vitrine/macro/sections.html' as sections %}
{% import 'vitrine/macro/cartes.html' as cartes with context %}
<html>
	<head>
		<title>Imladris</title>
		<link rel="icon" href="/images/logo-imladris-icon.svg" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
			{% include 'vitrine/elements/header.html' %}

			<!-- Banner -->
			{% call() sections.banner(
				title='Imladris',
				logo='logo-imladris.svg',
				img='vaches/meuhmeuh01.jpg'
			) %}
			L’esprit de Lanvollon est de retour !<br />
			Tiers-lieu d’entraide, maison pour tous, services aux entreprises et associations
			{% endcall %}

			<!-- One -->
			{% call() sections.bottom (
					title='Qui sommes nous ?',
					subtitle='Une coopérative d’intérêt collectif au service des Lanvollonnais',
					img='etoiles/etoiles-1.jpg',
					id='one', next_id='two'
			) %}
			<div class="col-4 col-12-medium">
				<p>Imladris est un lieu de rencontre, de partage et d’entraide, un <a href="https://fr.wikipedia.org/wiki/Tiers-lieu"><strong>tiers-lieu.</strong></a></p>
				<p>Les tiers-lieux désignent des espaces où une communauté de citoyens souhaite construire un monde commun, où tous s'y sentiront comme chez eux. Un peu comme une maison pour tous.</p>
			</div><div class="col-4 col-12-medium">
				<p>Notre porte est ouverte à tous ceux qui souhaitent la franchir, mais nous appartenons aux Lanvollonnais.</p>
				<p>Pour tous ceux qui y habitent, y travaillent ou y étudient. Petits ou grands, toutes les idées sont bonnes à prendre.</p>
				<p>Nous sommes une <a href="https://fr.wikipedia.org/wiki/Soci%C3%A9t%C3%A9_coop%C3%A9rative_d%27int%C3%A9r%C3%AAt_collectif"><strong>coopérative d'intérêt collectif</strong></a>. Une forme particulière de coopérative à la croisée entre une association et une coopérative.</p>
			</div>

			{% endcall %}

			<!-- Two -->
			{% call() sections.right(
					title='Nos associés',
					img='vaches/meuhmeuh02.jpg',
					id='two', next_id='deux'
			) %}
				<div class="col-4 col-12-medium">
					<p>Nous avons actuellement 9 associés dont 3 nouveaux en cours d’admission.</p>
					<ul> Nos associés sont : 
						<li>2 dans le collège des investisseurs Lanvollonnais,</li>
						<li>2 dans le collège des investisseurs « étrangers » car ils ne sont pas Lanvollonnais,</li>
						<li>5 dans le collège des industrieux, parce qu’ils travaillent dans la structure.</li>
					</ul>
					<p>Nous avons une présidente, parce que c’est obligatoire.</p>
					<p>Vous trouverez souvent des chats, ce sont nos commerciaux.</p>
				</div>
					 
			{% endcall %}
			<!-- Deux -->
			{% call() sections.left(
					title='Nos équipes - venez nous aider',
					img='vaches/meuhmeuh03.jpg',
					id='deux', next_id='three'
			) %}

				<div class="col-4 col-12-medium">
					<p>Nous avons plusieurs équipes de travail, incluant aussi des personnes extérieures.</p>
					<p>
						<a href="https://framagit.org/Imladris-publique/" class="button circled scrolly center">informatique/devsecops</a> 
						<a href="https://www.openstreetmap.org/way/265243611" class="button circled scrolly center">cartographie</a> <!-- Créer un wiki -->
						<a href="https://wiki.hackerspaces.org/Imladris" class="button circled scrolly center">tiers-lieu</a>
						<a href="https://wiki.la.voix.de.lanvollon.net" class="button circled scrolly center">radio (La Voix de Lanvollon)</a>
						<a href="/quand/beltaine.html" class="button circled scrolly center">arbres (Arbor Art Goat)</a>
						<a href="/comment/financement.html" class="button circled scrolly center">comptabilité</a> <!-- Créer un repo git ou un wiki pour la compta publique -->
						<a href="#deux" class="button circled scrolly center">statuts/juridique</a>  <!-- Créer un repo git ou un wiki pour la partie publique des statuts -->
						<a href="/quoi.html" class="button circled scrolly center">communication</a> <!-- Créer un wiki -->
						<a href="#deux" class="button circled scrolly center">jeux de société</a> <!-- Créer un wiki -->
						<a href="#deux" class="button circled scrolly center">couveuse</a> <!-- Créer un wiki -->
						<a href="#deux" class="button circled scrolly center">journal</a> <!-- Créer un wiki -->
						<a href="#deux" class="button circled scrolly center">traction animale et amap</a> <!-- Créer un wiki -->
						<a href="#deux" class="button circled scrolly center">travaux</a> <!-- Créer un wiki -->
						<a href="#deux" class="button circled scrolly center">déco</a> <!-- Créer un wiki -->
						</p>
				</div>
				<div class="col-4 col-12-medium">
					<p>Vous avez des compétences dans un de ces domaines (ou pas) ? Vous voulez nous aider ? N’hésitez pas à nous en parler. Pour chaque équipe qui le souhaite nous mettons en place une réunion hebdomadaire, un site web, un wiki et un forum.</p>
					<p>Vous voulez lancer une activité dans le cadre de notre structure ? Venez créer votre équipe !</p>
					<p><a href="/quand.html#horaires" class="button circled scrolly center">horaires des réunions</a></p>
				</div>
					 
			{% endcall %}

			<!-- Three -->
			{% call() sections.right(
					title='Nos bénéficiaires',
					subtitle="Qui on aide, qui peut participer",
					img='paysages/Landscape_with_Ducks_MET_0165-1.jpg',
					id='three', next_id='four',
			) %}
			<p>Nous avons pour vocation statutaire de se concentrer sur la commune de Lanvollon. Habitants, travailleurs, scolarisés et leur famille, associations ou entreprises de Lanvollon, votre intérêt est notre intérêt.
			</p>
			<p>Si vous n’êtes pas de Lanvollon, pas de panique. On ne vérifie pas la carte d’identité à l’entrée du lieu ;) et nous pouvons aider à monter une structure similaire dans votre village ou quartier.</p>
			{% endcall %}

			<!-- Four -->
			{% call() sections.bottom(
					title='Nos fournisseurs',
					subtitle="Parce qu’on achète de la qualité localement",
					img='etoiles/etoiles-2.jpg',
					id='four', next_id='five',
			) %}
			<p><strong>Lanvollon et communes limitrophes :</strong> la viande (bio), le poisson et les légumes fournis à la cantine pour les travailleurs viennent quasi-exclusivement du marché de Lanvollon. Un de nos fournisseurs de thés est Algues Armorique à Pléguien. Le pain livré aux abonnés vient majoritairement de Lanvollon, du paysan-boulanger bio de Pléguien, et de Plouha. Notre miel vient majoritairement du marché de Lanvollon, mais aussi de Plouha, Cohiniac, Gommenec’h ou Pommerit. La cire pour l’entretien des meubles vient de Une saison aux abeilles à Guingamp. Notre commercial est né à Saint-Brieuc.</p>
			<p><strong>Bretagne :</strong> une petite partie de nos services informatique est hébergée par Grifon, une association rennaise. la visioconférence que nous utilisons pour nos formations et la communication avec des entreprises est hébergée par FAImaison, une association nantaise.</p>
			<p><strong>France :</strong> notre fournisseur de thé principal est vert-tiges. Nos services informatiques sont hébergés majoritairement chez OVH, à Roubaix. Nos noms de domaines sont fournis par Gandi. L’encre de l’imprimante vient de Comète consommable. Les différents papiers de l’imprimante viennent de Novalith. Le code des logiciels que nous développons est hébergé par l’association Framasoft. Une partie du bois que nous utilisons pour faire nos meubles neufs est français et de label FSC.</p>
			<p><strong>Étranger :</strong> notre poêle à bois et nos tuyaux de poêle sont italiens (Nordica, edi-shop). Nos graviers phosphorescents viennent d’une pme chinoise.</p>
			{% endcall %}

			<!-- Five -->
			{% call() sections.right(
					title='Nos essaims',
					subtitle="Parce qu’il n’y a pas qu’un dragon ;)",
					img='etoiles/etoiles-3.jpg',
					id='five', next_id='six',
			) %}
			<p>Pleins de tiers-lieux nous ont inspirés, comme le Mix’café de Tressignaux, le village coopératif à Mellionnec, …</p>
			<p>Inversement si vous voulez créer votre tiers-lieu ou votre réseau de tiers-lieux, nous pouvons vous aider.</p>
			<p>Si vous avez déjà votre tiers-lieu, nous pouvons nous entraider.</p>
			{% endcall %}

			<!-- Six -->
			{% call() sections.bottom(
					title='Idées reçues',
					subtitle="Comme d’habitude à Lanvollon, des rumeurs circulent…)",
					img='etoiles/etoiles-3.jpg',
					id='six',
			) %}
			<p><strong>Sommes-nous une secte ?</strong> XD non, <a href='https://www.miviludes.interieur.gouv.fr/quest-ce-quune-d%C3%A9rive-sectaire'>on a vérifié</a>. Sans prétendre à une neutralité idéologique illusoire, chacun ici a ses valeurs, ses opinions, ses objectifs et ses stratégies, ses choix, son niveau d’investissement très différents les uns les autres. Nous cultivons le dissensus sans le craindre. Plus d’infos dans <a href="/quoi.html#deux">nos œuvres</a>, <a href="/pourquoi.html#deux">nos principes</a>…</p>
<!-- ajouter liens œuvres et principes en url_for -->
			<p><strong>Sommes-nous une brocante ?</strong> Non plus, aucun de nos meubles n’est à vendre. On est en train de les réparer et de les customiser pour harmoniser la déco, mais ça prend du temps. Nous accordons de la valeur au travail des petits artisans qui ont fabriqué nos meubles et à ceux qui en ont pris soin et ont façonné leur histoire au cours du temps, plutôt que d’acheter des objets industriels au rabais.</p>
			<p><strong>Sommes-nous un restaurant chinois ?</strong> XD non, malgré notre charte graphique orange/jaune/rouge aux touches noires et turquoise. Nos dragons se veulent des dragons celtiques, d’élément terre.</p>
			<p><strong>Sommes-nous un collectif d’artistes ?</strong> Pas vraiment. Nous avons des équipes centrant leur activité sur le petit artisanat d’art et les services aux artistes (illustration de romans, infographie, dessins sur la vitrine, fabrication et customisation de notre mobilier, …), mais ce n’est pas le centre de notre activité.  </p>

			{% endcall %}

			<!-- Footer -->
			{% include 'vitrine/elements/footer.html' %}


		</div>

		<!-- Scripts -->
		{% include 'vitrine/elements/scripts.html' %}


	</body>
</html>
