<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
{% import 'vitrine/macro/sections.html' as sections %}
{% import 'vitrine/macro/cartes.html' as cartes with context %}
{% import 'vitrine/macro/je-suis.html' as jesuis with context %}
<html>
	<head>
		<title>Imladris</title>
		<link rel="icon" href="/images/logo-imladris-icon.svg" />
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload landing">
		<div id="page-wrapper">

			<!-- Header -->
			{% include 'vitrine/elements/header.html' %}

			<!-- Banner -->
			{% call() sections.banner(
				title='Imladris',
				logo='logo-imladris.svg',
				img='vaches/meuhmeuh01.jpg'
			) %}
			Nos services
			{% endcall %}

			<!-- One -->
			{% call() sections.right(
					title='On y fait quoi ?',
					img='paysages/Landscape_with_Ducks_MET_0165-1.jpg',
					id='one', next_id='un',
			) %}
				{% call() jesuis.je_suis(
					liste1=[
						("un particulier","un"),
						("une association","next"),
						("une entreprise","two")
					],
					liste2=[
						("un écrivain ou artiste","writer"),
						("un geek","dev")
					],
					aller=("Œuvres","deux"),
				) %}
				{% endcall %}
			{% endcall %}

			<!-- Un -->
			{% call(one) sections.icon_box(
					title='Particuliers : on y fait quoi ?',
					subtitle='Ici vous pouvez rencontrer, échanger, discuter. Mais aussi agir ! Nous vous aidons à monter vos activités.',
					id='un', next_id='interne',
					list=[
						("cat","Être utile, accepté, reconnu","Ici vous pourrez faire des rencontres et avoir un statut, vous pourrez aider d’autres Lanvollonnais et vous sentir accepté. Formation ODITOR, réinsertion administrative, écoute active…"),
						("seedling","Faire revivre Lanvollon","Tous ensemble, nous ferons de Lanvollon une ville prospère, où il fait bon vivre et où il se passe pleins de choses sympas. Fêtes, couveuse par le besoin,…"),
						("book-skull","Prendre soin de vos souvenirs","Réparez les objets auxquels vous tenez, imprimez vos photos… Vous redonnerez des couleurs à vos souvenirs."),
						("martini-glass-citrus","Manger","Nous avons une cantine d’entreprise. Vous trouverez à manger en toute circonstance si vous tenez des permanences ou faites des travaux dans le local. Et pour ceux qui ne travaillent pas, nous livrons des repas à domicile sur abonnement."),
						("computer","Se faire aimer de son ordi","Votre ordi vous embête, ne fait pas ce que vous voulez ? Pour retrouver de la sérénité, venez nous voir."),
					]
			) %}
				<span class="icon solid major fa-{{ one[0] }}"></span>
				<h3>{{ one[1] }}</h3>
				{% autoescape false %}
				<p>{{ one[2] }}</p>
				{% endautoescape %}
			{% endcall %}
			
			<!-- Interne -->
			{% call() sections.right(
					title='Particuliers : nos tarifs',
					img='paysages/Landscape_with_Ducks_MET_0165-1.jpg',
					id='interne', next_id='next',
			) %}
			<p>La plupart de nos services est à <a href="/financement.html#four">prix libre</a> mais on évolue vers un <a href="/financement.html#collectif">prix libre collectif</a>. </p>
			<p>La cantine est à un <a href ="https://www.urssaf.fr/portail/home/employeur/calculer-les-cotisations/les-elements-a-prendre-en-compte/les-avantages-en-nature/lavantage-en-nature-nourriture/lemployeur-fournit-le-repas-a-pr.html">tarif fixé</a> par l’État, soit 50% de l’évaluation forfaitaire (pouvant être payé en travail et retenu sur les apports en industries, être payé en compte courant d’associé, ou retenu sur les actions). </p>
			<ul>Les livraisons de repas, pain, huile, miel, etc à domicile sont à : 
			        <li>3.33€/jour pour la livraison (soit 100€/mois) + 1 carotte/jour par âne quand nous pourrons livrer par âne</li>
			        <li>+ par personne un forfait pour les marchandises (pain 1€67/jour soit 50€/mois)</li>
		        </ul>
		        <p>Les produits sont variés, haut de gamme, souvent bio, locaux et de saison. Nous vous débarrassons aussi de votre pain sec. Les paniers d’AMAP seront à prix fixe.</p>
			<!--
                    <ul><span class="icon solid major fa-cat"></span>Être utile, accepté, reconnu</span>
                        <li>Formation ODITOR : coût : X€/séance d'une demi-journée, prix : X€/séance, valeur : X€/séance</li>
                        <li>Réinsertion administrative complète : coût : X€/heure, prix : X€/heure, valeur : X€/heure</li>
                        <li>Écoute active : coût : X€/heure, prix : X€/heure, valeur : X€/heure</li>
                    </ul>
                    <ul><span class="icon solid major fa-seedling"></span>Faire revivre Lanvollon</span>
                        <li>Fêtes : coût : X€/évènement, prix : X€/personne * 200 personnes, valeur : X€/évènement</li>
                        <li>Couveuse par le besoin : coût : X€/heure, prix : X€/personne/mois * 1800 personnes, valeur : X€/mois</li>
                    </ul>
                    <ul><span class="icon solid major fa-book-skull"></span>Prendre soin de vos souvenirs</span>
                        <li>Réparations : coût : X€/heure, prix : X€ à X€/ réparation, valeur : X€ à Y€/réparation</li>
                        <li>Impression A3+ : coût : X€ (3min + papier), prix : X€, valeur : X€</li>
                    </ul>
                    <ul><span class="icon solid major fa-martini-glass-citrus"></span>Manger</span>
                        <li>Cantine : coût : 5€20/repas, prix : 2€60/repas, valeur : X€/repas</li>
                    </ul>
                    <ul><span class="icon solid major fa-computer"></span>Se faire aimer de son ordi</span>
                        <li>Aide informatique : coût : X€/heure, prix : X€ à Y€ /réparation, valeur : X€ / réparation</li>
                    </ul> -->
					{% call() jesuis.je_suis(
					retour="one",
					aller=("Œuvres","deux"),
				) %}
				{% endcall %}
			{% endcall %}

			<!-- Next -->
			{% call(one) sections.icon_box(
					title='Associations : on y fait quoi ?',
					subtitle='Ici vous pouvez être accompagnés dans tous vos besoins. Nous vous aidons à monter vos activités et pouvons vous fournir un lieu pour vos réunions.',
					id='next', next_id='interne-deux',
					list=[
						("book-skull","Infographie","Charte graphique, flyers, affiches, logo… Nous concevons et imprimons tout votre matériel."),
						("seedling","Lieu","Vous pouvez vous réunir dans notre local, avec chauffage, électricité, souvent wifi, thé et gâteaux. Petits groupes uniquement."),
						("cat","Revalorisation, implication et remotivation de vos membres et bénévoles","Marre de se faire exploiter ? Venez montrer votre travail."),
						("spaghetti-monster-flying","Aide au recrutement","Organisation d’évènements et publicité locale."),
						("piggy-bank","Financements alternatifs","Conseils en systèmes de financements."),
					]
			) %}
				<span class="icon solid major fa-{{ one[0] }}"></span>
				<h3>{{ one[1] }}</h3>
				{% autoescape false %}
				<p>{{ one[2] }}</p>
				{% endautoescape %}
			{% endcall %}

			<!-- Interne 2 -->
			{% call() sections.right(
					title='Associations : nos tarifs',
					img='paysages/Landscape_with_Ducks_MET_0165-1.jpg',
					id='interne-deux', next_id='two',
			) %}
			<p>La plupart de nos services pour les petites associations lanvollonnaises sont à <a href="/financement.html#four">prix libre</a> mais on évolue vers un <a href="/financement.html#collectif">prix libre collectif</a>. Nous fonctionnons parfois sur devis sur certains services pour les grosses associations ou les associations non lanvollonnaises.</p>
			<!--
                    <ul><span class="icon solid major fa-book-skull"></span>Infographie</span>
                        <li>Modification d’image : coût : à partir de X€, prix : X€ max, valeur : X€</li>
                        <li>Conception visuels, affiches, cartes de visite : coût : à partir de X€, prix : X€, valeur : X€</li>
                        <li>Charte graphique : coût : X€, prix : X€, valeur : X€</li>
                    </ul>
                    <ul><span class="icon solid major fa-seedling"></span>Lieu</span>
                        <li>Couveuse/Pépinière : coût : X€/heure, prix : X€ à Y€/heure, valeur : X€/heure</li>
                    </ul>
                    <ul><span class="icon solid major fa-cat"></span>Implication de vos membres</span>
                        <li>Méthodes et techniques type système de comptage d’heures : coût : X€, prix : X€/mois, valeur : X€</li>
                        <li>Analyse système d’information : coût : X€ à Y€ selon taille, prix : X€, valeur : X€</li>
                        <li>Wiki+forum : coût : X€, prix : X€, valeur : X€</li>
                    </ul>
                    <ul><span class="icon solid major fa-spaghetti-monster-flying"></span>Aide au recrutement et à la valorisation de votre activité</span>
                        <li>Réunions publiques : coût : X€, prix : 10€ / personne max * 20 personnes, valeur : X€</li>
                        <li>Publicité (affiches, tract + site web + produit en croix) : coût : X€, prix : X€, valeur : X€</li>
                    </ul>
                    <ul><span class="icon solid major fa-piggy-bank"></span>Financements alternatifs</span>
                        <li>Conseils : coût : X€/heure, prix : X€ à X€, valeur : X€</li>
                    </ul>
                    -->
					{% call() jesuis.je_suis(
					retour="one",
					aller=("Œuvres","deux"),
				) %}
				{% endcall %}
			{% endcall %}

			<!-- Two -->
			{# Sécurité, RGPD, Référencement, Sites e-commerce, Système d’information <strong>sur mesure</strong>, Aide face aux arnaques, … #}
			{% call(one) sections.icon_box(
					title='Nos prestations pour petites et moyennes entreprises',
					subtitle='Nous disposons de toute une gamme de service aux entreprises',
					id='two', next_id='interne-trois',
					list=[
						("computer","Assistance informatique de proximité","Trouver un logiciel de comptabilité facile à utiliser et pas cher, sécuriser les données de ses clients, développer sa communication sur le net… Notre <strong>expertise</strong> à des prix défiant toute concurrence."),
						("book-skull","Développez votre stratégie de communication locale","Vous voulez changer votre image, vous faire connaître ou développer votre clientèle ? Profitez de notre expertise. Nous vous proposons un soutien <strong>personnalisé</strong>."),
						("cat","Entraide entre commerçants","Venez rejoindre un réseau de commerçants qui nous font confiance afin de pouvoir se demander conseils ou soutien en cas de problème. (forum, réunions collectives…)"),
						("seedling","Pouvoir se rémunérer et embaucher","Avec nos conseils en optimisation fiscale (légale) et en prévention face aux arnaques vous pourrez économiser beaucoup. Nous pourrons vous aider à réfléchir à des façons innovantes de gagner de l’argent."),
						("spaghetti-monster-flying","Faire revivre Lanvollon","Inscrivez vous à la newsletter des commerçants."),
					]
			) %}
				<span class="icon solid major fa-{{ one[0] }}"></span>
				<h3>{{ one[1] }}</h3>
				{% autoescape false %}
				<p>{{ one[2] }}</p>
				{% endautoescape %}
			{% endcall %}

			<!-- Interne 3 -->
			{% call() sections.right(
					title='Entreprises : nos tarifs',
					img='paysages/Landscape_with_Ducks_MET_0165-1.jpg',
					id='interne-trois', next_id='deux',
			) %}
                        <p> Toutes nos prestations pour les entreprises sont sur devis, afin de permettre même aux petites entreprises de bénéficier de nos services. Parfois nous fonctionnons aussi sur du <a href="/financement.html#four">prix libre</a> ou <a href="/financement.html#collectif">prix libre collectif</a> sur certains services pour les petites entreprises de Lanvollon. </p>
			<!--
                    <ul><span class="icon solid major fa-computer"></span>Assistance informatique</span>
                        <li>Conseils et installation/hébergement de logiciels : coût : entre X€ et X€ selon spécificité du logiciel demandé + hébergement : inférieur à X€/mois + maintenance/mises à jour : X€ par mois ; prix : coût + 10% de la valeur économisée + hébergement X€ à X€ /mois + maintenance/mises à jour/service client : X€ à X€ par mois ; valeur : X€ à X€ + hébergement X€/mois + maintenance/mises à jour/service client : X€/mois</li>
                        <li>Conseils de sécurisation des données clients : à partir de X€ (formule remise à niveau/conseils de base pour non informaticiens à partir de X€)</li>
                    </ul>
                    <ul><span class="icon solid major fa-book-skull"></span>Communication</span>
                        <li>Conception visuels, affiches, cartes de visite : coût : à partir de X€, prix : X€, valeur : X€ ; charte graphique : coût : X€, prix : X€, valeur : X€ ; méthodologie de stratégie de communication : à partir de X€</li>
                    </ul>
                    <ul><span class="icon solid major fa-cat"></span>Réseau d’entraide type association de commerçants</span>
                        <li>Mise à disposition d’outils d’animation de la communauté (wiki, forum) : coût : à partir de X€ + hébergement et assistance cf plus haut, prix : cf plus haut, valeur : cf plus haut</li>
                    </ul>
                    <ul><span class="icon solid major fa-seedling"></span>Gagner de l’argent</span>
                        <li>Conseils, formation, diagnostic : coût : X€/1h30, prix : X€/h, valeur : X€/h</li>
                    </ul>
                    <ul><span class="icon solid major fa-spaghetti-monster-flying"></span>Faire revivre Lanvollon</span>
                        <li>Abonnement au journal (+ à terme la radio) pour le faire vivre et soutenir les activités qui sont valorisées par lui : coût : X€ de frais de mise en service payé collectivement + à partir de X€/mois selon ambition ou X€/mois pour plus d’ambition mais payé collectivement aussi, prix : jusqu’à X€/mois/entreprise, valeur : X€ au total</li>
                    </ul>
                    -->
<!--					<ul>Voici nos tarifs entreprise (petites entreprises sur devis) :
					<li>Entraide : prix libre</li>
					<li>Couveuse : payable en services</li>
					<li>Pépinière : formation ODITOR pour entreprises 200€/mois pour un après-midi par semaine, conseils personnalisés 60€ la séance 1h30</li>
					<li>Stratégie de communication : 60€ la séance 1h30</li>
					<li>Conseils d’organisation : 20€ la séance 1/2h</li>
					<li>Impressions : 10€ par affiche A3+ couleur papier photo, 5€ affiche A4 couleur papier photo ou couché, 3€ l’impression A4 couleur papier normal peu importe le nombre de pages (1 à 500) et leur remplissage. 10 pages d’impression A4 couleur papier normal offertes pour l’achat d’un thé si les documents à imprimer sont envoyés d’avance par mail.</li>
					<li>Infographie : modification d’image sur devis à partir de 20€. Conception de visuels, affiches et cartes de visite sur devis à partir de 120€. Charte graphique à partir de 40€.</li>
					<li>Cybersécurité : conseils, formations et analyses de vos pratiques : 60€ la séance 1h30</li>
					<li>Mise en conformité RGPD : 350€ pour une journée de formation pratique et théorique. Pour l’achat d’une mise en conformité RGPD, une journée supplémentaire est offerte uniquement pour les associations et pour les entreprises qui hébergent des données sensibles.</li>
					<li>Référencement : sur devis, tous tarifs</li>
					<li>Conception de site sur mesure : à partir de 15€ pour un wordpress ou un site tout simple avec contenu prérempli hébergement inclus en haute disponibilité avec un nom de domaine en .lanvollon.net, à partir de 350€ hébergement offert (+ prix du nom de domaine) pour un site vitrine créé ensemble en une journée si vous venez avec vos contenus, pour un site plus important nous demandons 1h30 de réunion en présentiel par semaine pour faire l’avancement et un site de test en ligne en privé dès la deuxième semaine et nous facturons 200€ par semaine ou 900€ par mois entamé (au choix) + hébergement et nom de domaine sur devis et nous ne garantissons pas le délai. Tout autre site est sur devis.</li>
					<li>Système d’information sur mesure, développement et installation de logiciels spécifiques : sur devis</li>
					<li>Organisation d’évènement : à partir de 5 000 € (nous proposerons ultérieurement d’autres gammes)</li>
					<li>Petite livraison : entre 3€ et 50€ sur devis</li>
					<li>Service après vente : 1€ la minute tout moyen de communication</li>
</ul>
-->
					<!-- FIXME -->
					{% call() jesuis.je_suis(
					retour="one",
					aller=("Œuvres","writer"),
				) %}
				{% endcall %}
			{% endcall %}

			<!-- Writer -->
			{% call(one) sections.icon_box(
					title='Nos prestations pour artistes : écrivains, dessinateurs, musiciens',
					subtitle='Nous disposons de toute une gamme de service aux artistes',
					id='writer', next_id='interne-cinq',
					list=[
						("scale-balanced alt","Protéger son œuvre ou la libérer","Avec des logiciels de versionnage, apprenez à protégez vos droits d’auteur sans vous ruiner. Nous vous ferons également découvrir les licenses libres, pour ceux qui souhaitent au contraire comme nous partager leurs œuvres au plus grand nombre, en permettant à tous de s’en inspirer gratuitement."),
						("book-skull","Se faire connaître","Nous vous accompagnerons sur votre stratégie de communication et la construction de votre image publique, vous ferons connaître au sein du tiers lieu et vous pourrez même vendre vos œuvres dans notre coopérative. Nous pouvons organiser ensemble un évènement pour vous faire connaître, comme des lectures publiques ou des soirées contes (un jour au coin du feu)… Et vous pourrez même participer à nos émissions radio quand elle sera en place…"),
						("seedling","Choisir ses stratégies d’éditions et s’adapter aux attentes","Envie de se professionnaliser dans un métier artistique ? Nous pouvons vous aider à rechercher un éditeur fiable et à correspondre à ses attentes ou à vous éditer vous-même et vous repérer vis à vis des arnaques, ainsi qu’à correspondre aux attentes de votre lectorat."),
						("cat","Profiter des relectures et conseils d’un réseau d’écrivains","Vous pourrez profiter de nos outils de community manager et aussi rencontrer d’autres écrivains pour vous échanger des conseils, des techniques, vous relire les uns les autres et discuter de vos lectures… Profitez tous ensembles des savoirs-faire des uns et des autres, pour ne plus être seul devant sa page blanche."),
						("spaghetti-monster-flying","Apprendre à utiliser des outils pros","Nous disposons d’une imprimante pro pouvant imprimer des photos en A3+, d’une tablette graphique et d’un massicot à votre disposition. Nous disposons même d’outils de travail du bois (et à terme nous aurons des outils de reliure et de tissage). Nous disposons également de logiciels d’infographie et de mise en page perfectionnés avec ou sans IA et plus généralement d’une large gamme de logiciels indépendants pour aider les écrivains du brouillon au livre fini (protection numérique de vos ouvrages, sauvegardes, historique des modifications, illustrations, création de fiches personnages, mise en page… Nous pouvons également développer des logiciels et un (vrai) site web <strong>sur mesure</strong> pour tous budgets.). Nous pouvons donner des cours ou simplement vous laisser vous familiariser vous même avec leur utilisation."),
						("computer","Retrouver la bonne version de son manuscrit et versionnage de ses œuvres","Comme tous les artistes, vous croulez sous les brouillons et autres ébauches de vos œuvres, et vous finissez par ne plus vous souvenir lequel vous devez modifier ? Nous disposons de logiciels et méthodes d’organisation, de sauvegardes et de versionnage de vos œuvres."),
						]
			) %}
			
						<!--
						("dice-d20","Évènementiel","Nous pouvons organiser ensemble un évènement pour vous faire connaître, comme des lectures publiques ou des soirées contes (un jour au coin du feu)… Et vous pourrez même participer à nos émissions radio quand elle sera en place…"),
						("cow","Petites livraisons intra-communales","Vous souhaitez livrer vos livres à domicile ? Vous avez besoin d’un sandwich ou d’envoyer une lettre à votre éditeur ? Nous pouvons nous déplacer à votre place pour vous faire gagner du temps. Le service sera à terme effectué par traction animale avec des ânes attelés."),
						("martini-glass-citrus","Écrire dans de bonnes conditions","Plutôt que de travailler seuls chez vous, venez profiter d’un tiers-lieu vivant et actif. Vous trouverez dans l’émulation collective une source d’inspiration et pourrez vous installer confortablement, charger votre ordinateur, utiliser l’internet et boire un thé en mangeant des gâteaux en prenant votre temps."),
						("piggy-bank","Intérêt collectif","Passer par nos services finance directement nos activités locales d’animation de Lanvollon et de mise en commun d’outils et de savoir-faire utiles à tous."),
						("cloud-sun-rain","Nous sommes bretons… avec un humour à la c…","En bretagne comme à Fondcombe, il fait beau plusieurs fois par jour ;)
Nous avons beaucoup de fournisseurs lanvollonnais, et nous encourageons le made in Breizh et le made in France.
Ni, Lannoniz a galon, karomp hon gwir Vro !" )
            -->
				<span class="icon solid major fa-{{ one[0] }}"></span>
				<h3>{{ one[1] }}</h3>
				{% autoescape false %}
				<p>{{ one[2] }}</p>
				{% endautoescape %}
			{% endcall %}

			<!-- Interne 5 -->
			{% call() sections.right(
					title='Nos tarifs pour artistes',
					img='paysages/Landscape_with_Ducks_MET_0165-1.jpg',
					id='interne-cinq', next_id='deux',
			) %}
			<p>La plupart de nos services pour artistes sont à <a href="/financement.html#four">prix libre</a> mais on évolue vers un <a href="/financement.html#collectif">prix libre collectif</a>. </p>
			<!--
			<ul><span class="icon solid major fa-scaled-balanced-alt"></span>Protéger son œuvre</span>
                        <li>Cours, conseils, mise en pratique X€/h</li>
                    </ul>
                    <ul><span class="icon solid major fa-book-skull"></span>Se faire connaître </span>
                        <li>Formations : X€/h</li>
                    </ul>
                    <ul><span class="icon solid major fa-cat"></span>Profiter des relectures et conseils d’un réseau d’écrivains</span>
                        <li>Mise à disposition d’outils d’animation de la communauté (wiki, forum) : coût : à partir de X€ + hébergement et assistance cf plus haut, prix : cf plus haut, valeur : cf plus haut ; organisation de réunions hebdomadaires</li>
                    </ul>
                    <ul><span class="icon solid major fa-seedling"></span>Choisir ses stratégies d’éditions et s’adapter aux attentes</span>
                        <li>Conseils personnalisés : X€/h</li>
                    </ul>
                    <ul><span class="icon solid major fa-spaghetti-monster-flying"></span>Apprendre à utiliser des outils pros</span>
                        <li>Formations : X€/h</li>
                    </ul>
                    <ul><span class="icon solid major fa-computer"></span>Retrouver la bonne version de son manuscrit et versionnage de ses œuvres</span>
                        <li>Mise en place d’outils : X€</li>
                    </ul>
                    -->
					{% call() jesuis.je_suis(
					retour="one",
					aller=("Œuvres","dev"),
				) %}
				{% endcall %}
			{% endcall %}

			<!-- Dev -->
			{% call(one) sections.icon_box(
					title='Geeks',
					subtitle='Nous sommes un hackerspace et un fablab, mais aussi un lieu pour jouer',
					id='dev', next_id='interne-six',
					list=[
						("book-skull","Développer une communauté libriste","Vous pourrez profiter nos outils de community manager et de nos connaissances en licences libres. Venez partager vos savoir-faire."),
						("cat","Entraide","Vous pourrez rencontrer d’autres informaticiens et profiter tous ensembles des savoirs-faire, des outils et des techniques des uns et des autres, pour ne plus être seul devant son ordi."),
						("scale-balanced alt","Communs","Nous mettons en commun des ressources et des savoirs faire pour tous. Nous avons une imprimante pro, une tablette graphique, des ordis en libre service, des tournevis de toutes tailles, internet presque tous les jours et bientôt même une radio locale pour vous faire connaître. On envisage un jour de créer un FAI local."),
						("spaghetti-monster-flying","Des spécialités variées","Nous pouvons former et nous entraider en infographie, en cybersécurité (notamment RGPD), en DevOps, en architecture de logiciels, en analyse de système d’information, en démontage d’ordis… Nous concevons et imprimons aussi affiches, flyers et cartes de visite."),
						("computer","Informatique de proximité","Nous disposons d’une large gamme de logiciels libres dans tous les domaines, et nous pouvons aussi concevoir avec vous un système d’information adapté à vos besoins et un (vrai) site web <strong>sur mesure</strong> (pas un simple CMS)."),
						("martini-glass-citrus","Travailler dans de bonnes conditions","Plutôt que de travailler seuls chez vous, venez profiter d’un tiers-lieu vivant et actif. Vous trouverez dans l’émulation collective une source d’inspiration et pourrez vous installer confortablement, charger votre ordi, utiliser le wifi et boire un thé en mangeant des gâteaux en prenant votre temps."),
						("piggy-bank","Intérêt collectif","Passer par nos services finance directement nos activités locales d’animation de Lanvollon et de mise en commun d’outils et de savoir-faire utiles à tous.")
					]
			) %}
				<span class="icon solid major fa-{{ one[0] }}"></span>
				<h3>{{ one[1] }}</h3>
				{% autoescape false %}
				<p>{{ one[2] }}</p>
				{% endautoescape %}
			{% endcall %}

			<!-- Interne 6 -->
			{% call() sections.right(
					title='Nos tarifs pour geeks',
					img='paysages/Landscape_with_Ducks_MET_0165-1.jpg',
					id='interne-six', next_id='deux',
			) %}
			<p>La plupart de nos services pour geeks sont à <a href="/financement.html#four">prix libre</a> mais on évolue vers un <a href="/financement.html#collectif">prix libre collectif</a>. </p>
					{% call() jesuis.je_suis(
					retour="one",
					aller=("Œuvres","deux"),
				) %}
				{% endcall %}
			{% endcall %}

			<!-- Deux -->
			{% call() sections.left(
					title='Nos œuvres',
					subtitle='Et pas nos projets',
					img='vaches/meuhmeuh03.jpg',
					id='deux', next_id='three'
			) %}
				<p>Nos réalisations et ouvrages sont sur du temps long et s’inscrivent dans un contexte historique et anthropologique local. Nous ne faisons pas de projets, sur de l’avenir proche et décorrélé de toute stratégie économique.</p>
				<p>Nous substituons aux projets l’inscription dans des <a href="https://fr.wikipedia.org/wiki/Hannah_Arendt#L%E2%80%99%C5%93uvre_et_l'%C2%AB_Homo_Faber_%C2%BB">œuvres</a> de long terme, au sens de la philosophe Hannah Arendt, c’est à dire quelque chose qui relie les générations passées, présentes et à naître, dans une logique de long terme. Chacune de nos équipe s’inscrit dans une œuvre.</p>
				<p>Nos équipes s’inscrivent dans les œuvres suivantes : la préservation de l’entraide et de la coopération/collaboration face aux crises, la préservation de la culture bretonne, la sécurisation informatique des PME en tant qu’enjeu national défini par l’armée, le maintien et le partage des savoirs-faire de petit artisanat local, la protection des espaces forestiers, la préservation de biens communs et la socialisation des biens privés, le libre partage de la culture, …</p>
					 
			{% endcall %}
<!-- TODO: on devrait plutôt faire une page œuvre avec pour chaque œuvre la présentation de l’œuvre, de chaque équipe qui s’y inscrit avec son interprétation et les ouvrages réalisés… bref le module équipes/œuvres/ouvrages est à mettre en place -->

			<!-- Three -->
			{% call() sections.right(
					title='Les ouvrages réalisés par nos équipes :',
					img='paysages/Landscape_with_Ducks_MET_0165-1.jpg',
					id='three', next_id='four',
			) %}
			<ul>
				<li>des statuts d’entreprise remplis d’innovations juridiques</li>
				<li>la création d’une SCIC de près d’une dizaine d’ associés</li>
				<li>l’achat d’un local sans emprunt bancaire sous une forme de foncière</li>
				<li>la mise en place d’une comptabilité basée sur le prix libre</li>
				<li>des livraisons de pain chez des personnes âgées</li>
				<li>la conception et l’impression des marques-pages du salon du livre 2023</li>
				<li>la mise en place de sites sur mesure pour des entreprises</li>
				<li>la rénovation et décoration du local</li>
				<li>la fabrication et la réparation de meubles pour le local</li>
				<li>de l’aide informatique à de nombreux particuliers et entreprises</li>
				<li>la mise en place d’un SEL</li>
				<li>l’aide à concevoir une stratégie de communication à une entreprise</li>
				<li>l’organisation d’un défilé aux lampions pour Samain 2022</li>
				<li>des impressions pour de nombreux particuliers, entreprises et associations</li>
				<li>la mise à disposition d’un local pour des réunions du forum citoyen</li>
				<li>une cartographie minutieuse de Lanvollon, mise à disposition des gens</li>
				<li>la mobilisation d’un collectif pour défendre les arbres de Lanvollon</li>
				<li>la mise à disposition d’ordinateurs en libre service pour des particuliers</li>
				<li>un covoiturage pour des personnes n’ayant pas le permis</li>
				<li>…</li>
			</ul>
			{% endcall %}

			<!-- Four -->
			{% call() sections.left(
					title='Est-ce une association ?',
					img='vaches/meuhmeuh03.jpg',
					id='four',
			) %}
				<p>Nous sommes une coopérative d’<strong>intérêt collectif.</strong></p>
				<p>Nous avons des contraintes en commun avec les associations : tous nos <strong>bénéfices doivent être réinvestis</strong> dans la structure, nous n’avons pas le droit de faire de dividendes, en cas de dissolution de la structure les bénéfices réinvestis (en réserves impartageables) doivent être donné à une coopérative ou une association.</p>
				<p>Cependant <strong>nous pouvons investir</strong> de l’argent ou du travail et récupérer plus tard ses apports (pas plus). Cela nous a permis d’acheter un local sans passer par un emprunt bancaire, en fournissant à nos associés un moyen d’<a href="/financement.html#three">investir dans l’économie réelle</a>.</p>
				<p>Les contraintes en terme de <strong>décision démocratique</strong> ou de lucrativité limitée sont plus poussées dans une coopérative que dans une association. Mais légalement nous sommes une entreprise inscrite au greffe du tribunal de commerce et tout, et nous sommes assujettis à la tva.</p>
				<p>Et nous ne sommes pas des gros capitalistes, <strong>on privilégie l’intérêt de Lanvollon</strong> au fait de faire des gros soussous.</p>
				<p>Nos équipes sont pour la plupart des associations en création portées par notre structure</p>
					 
			{% endcall %}

			<!-- Footer -->
			{% include 'vitrine/elements/footer.html' %}


		</div>

		<!-- Scripts -->
		{% include 'vitrine/elements/scripts.html' %}


	</body>
</html>
