@font-face {
  font-family: 'BasicallyASansSerif';
  src: url('/assets/webfonts/basically/BasicallyASansSerif-Thin.otf') format('opentype');
  font-weight: 100;
}
@font-face {
  font-family: 'BasicallyASansSerif';
  src: url('/assets/webfonts/basically/BasicallyASansSerif-Thin.otf') format('opentype');
  font-weight: lighter;
}
@font-face {
  font-family: 'BasicallyASansSerif';
  src: url('/assets/webfonts/basically/BasicallyASansSerif-ExtraLight.otf') format('opentype');
  font-weight: 200;
}
@font-face {
  font-family: 'BasicallyASansSerif';
  src: url('/assets/webfonts/basically/BasicallyASansSerif-Light.otf') format('opentype');
  font-weight: 300;
}
@font-face {
  font-family: 'BasicallyASansSerif';
  src: url('/assets/webfonts/basically/BasicallyASansSerif-Regular.otf') format('opentype');
  font-weight: 400;
}
@font-face {
  font-family: 'BasicallyASansSerif';
  src: url('/assets/webfonts/basically/BasicallyASansSerif-Regular.otf') format('opentype');
  font-weight: normal;
}
@font-face {
  font-family: 'BasicallyASansSerif';
  src: url('/assets/webfonts/basically/BasicallyASansSerif-Medium.otf') format('opentype');
  font-weight: 500;
}
@font-face {
  font-family: 'BasicallyASansSerif';
  src: url('/assets/webfonts/basically/BasicallyASansSerif-SemiBold.otf') format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: 'BasicallyASansSerif';
  src: url('/assets/webfonts/basically/BasicallyASansSerif-Bold.otf') format('opentype');
  font-weight: 700;
}
@font-face {
  font-family: 'BasicallyASansSerif';
  src: url('/assets/webfonts/basically/BasicallyASansSerif-Bold.otf') format('opentype');
  font-weight: bold;
}
@font-face {
  font-family: 'BasicallyASansSerif';
  src: url('/assets/webfonts/basically/BasicallyASansSerif-ExtraBold.otf') format('opentype');
  font-weight: 800;
}
@font-face {
  font-family: 'BasicallyASansSerif';
  src: url('/assets/webfonts/basically/BasicallyASansSerif-Black.otf') format('opentype');
  font-weight: 900;
}
@font-face {
  font-family: 'BasicallyASansSerif';
  src: url('/assets/webfonts/basically/BasicallyASansSerif-Black.otf') format('opentype');
  font-weight: bolder;
}
