@font-face {
    font-family: 'LibertinusSansBold';
        src: url('/assets/webfonts/libertinus-sans/LibertinusSans-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
      }

@font-face {
    font-family: 'LibertinusSansItalic';
        src: url('/assets/webfonts/libertinus-sans/LibertinusSans-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
      }

@font-face {
    font-family: 'LibertinusSansRegular';
        src: url('/assets/webfonts/libertinus-sans/LibertinusSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
      }

 /* The following rules are deprecated. */

@font-face {
    font-family: 'Libertinus Sans';
        src: url('/assets/webfonts/libertinus-sans/LibertinusSans-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
      }



@font-face {
    font-family: 'Libertinus Sans';
        src: url('/assets/webfonts/libertinus-sans/LibertinusSans-Italic.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
      }



@font-face {
    font-family: 'Libertinus Sans';
        src: url('/assets/webfonts/libertinus-sans/LibertinusSans-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
      }
