@font-face {
    font-family: 'YukiCode';
        src: url('/assets/webfonts/YukiCode-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'YukiCode';
        src: url('/assets/webfonts/YukiCode-Regular.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'YukiCode';
        src: url('/assets/webfonts/YukiCode-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'YukiCode';
        src: url('/assets/webfonts/YukiCode-Regular.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}
