{% macro je_suis(
liste1=None,
liste2=None,
aller=None,
retour=None
) -%}

	{{ caller() }}
	{% if liste1 or liste2 %}
		<!-- On choisit qui on est -->
		<p><strong>Je suis :</strong></p>

		<p>
		{%- for elt in liste1 %}
				<!-- Bouton {{elt[0]}} de liste1 -->
				<a href="#{{ elt[1] }}" class="button circled scrolly center">{{ elt[0] }}</a>
		{%- endfor %}
		</p><p>
		{%- for elt in liste2 %}
				<!-- Bouton {{elt[0]}} de liste2 -->
				<a href="#{{ elt[1] }}" class="button circled scrolly center">{{ elt[0] }}</a>
		{%- endfor %}
		</p>
		<!-- TODO: faire une liste de listes, pour en mettre autant qu’on veut -->
	{% endif %}

	<!-- On choisit où on veut aller sans se définir (continuer plus loin, revenir en arrière) -->
	{% if aller or retour %}
		<p><strong>Je veux :</strong></p>
		{% if retour %}
					<!-- Revenir au choix -->
					<p><a href="#{{ retour}}" class="button circled scrolly center">revenir au choix</a></p>
		{% endif %}
		{% if aller %}
					<!-- Continuer vers {{ aller[0] }} -->
					<p><a href="#{{ aller[1]}}" class="button circled scrolly center">continuer vers {{ aller[0] }}</a></p>
		{% endif %}
	{% endif %}


{% endmacro %}
