
{% macro banner( title, img, logo, id='banner', next_id='one' ) -%}
<section id="{{ id }}" style="background-image: url(/images/{{ img }});">
  <div class="content">
    <header>
      <h2>{{ title }}</h2>
      <p>{{ caller() }}</p>
    </header>
    <span class="image"><img src="/images/{{ logo }}" alt="Imladris" /></span>
  </div>
  <a href="#{{next_id}}" class="goto-next scrolly">Next</a>
</section>
{%- endmacro %}

{% macro bottom( title, subtitle, img, id, next_id=None, style=1, action=None, active=True ) -%}
{#
  style : 1,2,3,None
#}
<section id="{{id}}" class="spotlight style{{ style }} bottom {{ 'inactive' if not active }}">
  <span class="image fit main"><img src="/images/{{ img }}" alt="" /></span>
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-4 col-12-medium">
          <header>
            <h2>{{ title }}</h2>
            <p>{{ subtitle }}</p>
          </header>
          {% if action %}
          <ul class="actions">
            <li><a href="{{ action[0] }}" class="button">{{ action[1] }}</a></li>
          </ul>
          {% endif %}
        </div>
        {{ caller() }}
      </div>
    </div>
  </div>
  {% if next_id %}
  <a href="#{{ next_id }}" class="goto-next scrolly">Next</a>
  {% endif %}
</section>
{%- endmacro %}

{% macro right( title, subtitle, img, id, next_id=None, style=2, action=None, active=True ) -%}
<section id="{{ id }}" class="spotlight style{{ style }} right {{ 'inactive' if not active }}">
  <span class="image fit main"><img src="/images/{{ img }}" alt="" /></span>
  <div class="content">
    <header>
      <h2>{{ title }}</h2>
      <p>{{ subtitle }}</p>
    </header>
    {{ caller() }}
    {% if action %}
    <ul class="actions">
      <li><a href="{{ action[0] }}" class="button">{{ action[1] }}</a></li>
    </ul>
    {% endif %}
  </div>
  {% if next_id %}
  <a href="#{{ next_id }}" class="goto-next scrolly">Next</a>
  {% endif %}
</section>
{%- endmacro %}


{% macro left( title, subtitle, img, id, next_id=None, style=3, action=None, active=True ) -%}
<section id="{{ id }}" class="spotlight style{{ style }} left {{ 'inactive' if not active }}">
  <span class="image fit main"><img src="/images/{{ img }}" alt="" /></span>
  <div class="content">
    <header>
      <h2>{{ title }}</h2>
      <p>{{ subtitle }}</p>
    </header>
    {{ caller() }}
    {% if action %}
    <ul class="actions">
      <li><a href="{{ action[0] }}" class="button">{{ action[1] }}</a></li>
    </ul>
    {% endif %}
  </div>
  {% if next_id %}
  <a href="#{{ next_id }}" class="goto-next scrolly">Next</a>
  {% endif %}
</section>
{%- endmacro %}


{% macro icon_box( title, subtitle, img, id, next_id=None, style=1, action=None, list=[] ) -%}
<section id="{{ id }}" class="wrapper style{{ style }} special fade-up">
  <div class="container">
    <header class="major">
      <h2>{{ title }}</h2>
      <p>{{ subtitle }}</p>
    </header>
    <div class="box alt">
      <div class="row gtr-uniform">
        {%- for one in list %}
        <section class="col-4 col-6-medium col-12-xsmall">
          {{ caller(one) }}
        </section>
        {%- endfor %}
      </div>
    </div>
    {% if action %}
    <footer class="major">
      <ul class="actions special">
        <li><a href="{{ action[0] }}" class="button">{{ action[1] }}</a></li>
      </ul>
    </footer>
    {% endif %}
  </div>
  {% if next_id %}
  <a href="#{{ next_id }}" class="goto-next scrolly">Next</a>
  {% endif %}
</section>
{%- endmacro %}

{% macro contact( title, subtitle, id, next_id=None, style=2, action=None ) -%}
<section id="{{id}}" class="wrapper style{{ style }} special fade">
  <div class="container">
    <header>
      <h2>{{title}}</h2>
      <p>{{subtitle}}</p>
    </header>
    <form method="post" action="#" class="cta">
      <div class="row gtr-uniform gtr-50">
        {{ caller(one) }}
      </div>
    </form>
  </div>
  {% if next_id %}
  <a href="#{{ next_id }}" class="goto-next scrolly">Next</a>
  {% endif %}
</section>
{%- endmacro %}
{#
  Exemple de formulaireà insérer
  <div class="col-8 col-12-xsmall"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
  <div class="col-4 col-12-xsmall"><input type="submit" value="Get Started" class="fit primary" /></div>
#}
