/**************************************************************/
/* Définition des variables : couleurs de la charte graphique */
/**************************************************************/

:root {
--couleur-sombre: #c19570ff; /* marron, à changer */
--couleur-vive: #f8ae4bff; /* orange, à changer */
--couleur-tertiaire-claire: #fdc72fff; /* jaune, à changer */
--couleur-vive-eclaircie-rgb: 193 149 112; /* orange clair, à changer */
--couleur-tertiaire-claire-rgb: 253 199 47; /* jaune à changer */
--couleur-vive-secondaire-light: #FEC82F; /* jaune-orangé à changer */
--noir: black; /* pour écrire en noir sur couleur vive, couleur qui tranche bien requise */
--blanc: white; /* pour écrire en blanc sur sombre, couleur qui tranche bien requise */
}

/**************/
/* Thème dark */
/**************/

[data-calendar-theme="dark"] .vanilla-calendar-day__btn {
	color: var(--blanc);
}
[data-calendar-theme="dark"] .vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_disabled, 
[data-calendar-theme="dark"] .vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_disabled {
	color: var(--couleur-sombre);
}
[data-calendar-theme="dark"] .vanilla-calendar-day__btn_disabled {
	color: var(--couleur-sombre);
}
[data-calendar-theme="dark"] .vanilla-calendar-week__day_weekend {
	color: var(--couleur-vive);
	--tw-bg-opacity: 0.2;
	background-color: rgb(var(--couleur-vive-eclaircie-rgb) / var(--tw-bg-opacity));
}
[data-calendar-theme="dark"] .vanilla-calendar-day__btn_today {
	color: var(--couleur-tertiaire-claire);
	outline-style: solid;
	outline-width: 2px;
	outline-color: var(--blanc);
	z-index: 1;
}
[data-calendar-theme="dark"] .vanilla-calendar-day__btn_weekend, 
[data-calendar-theme="dark"] .vanilla-calendar-day__btn_holiday {
	color: var(--couleur-vive);
/*	--tw-bg-opacity: 0.2;
	background-color: rgb(var(--couleur-vive-eclaircie-rgb) / var(--tw-bg-opacity)); */
}
[data-calendar-theme="dark"] .vanilla-calendar-day__btn_selected, [data-calendar-theme="dark"] .vanilla-calendar-day__btn_selected:hover {
	color: var(--couleur-vive);
}
.vanilla-calendar-arrow {
	--tw-bg-opacity: 1;
	background-color: rgb(var(--couleur-vive-eclaircie-rgb) / var(--tw-bg-opacity));
}
[data-calendar-theme="dark"] .vanilla-calendar-day__btn_selected {
	--tw-bg-opacity: 0.8;
	background-color: rgb(var(--couleur-tertiaire-claire-rgb) / var(--tw-bg-opacity)); /* jaune à changer */
	color: white;
	font-weight: 800;
}
[data-calendar-theme="dark"] .vanilla-calendar-day__btn:hover {
	color: var(--blanc);
	font-weight: 600;
	--tw-bg-opacity: 0.2;
	background-color: rgb(var(--couleur-tertiaire-claire-rgb) / var(--tw-bg-opacity));
	z-index: 1;
}
[data-calendar-theme="dark"] .vanilla-calendar-day__btn_selected:hover {
	color: var(--blanc);
	font-weight: 800;
	--tw-bg-opacity: 0.5;
	background-color: rgb(var(--couleur-tertiaire-claire-rgb) / var(--tw-bg-opacity));
	outline-style: solid;
	outline-width: 2px;
	outline-color:var(--couleur-vive);
	z-index: 1;
}

/***************/
/* Thème light */
/***************/

[data-calendar-theme="light"] .vanilla-calendar-week__day {
  background-color: var(--couleur-vive-secondaire-light);
  color: var(--noir);
}
[data-calendar-theme="light"] .vanilla-calendar-week-numbers__title, [data-calendar-theme="light"] .vanilla-calendar-week-number {
  /*background-color: var(--couleur-vive-secondaire-light);*/
  color: var(--noir);
}
[data-calendar-theme="light"] .vanilla-calendar-day__btn {
	color: var(--noir);
}
[data-calendar-theme="light"] .vanilla-calendar-day__btn_weekend.vanilla-calendar-day__btn_disabled, 
[data-calendar-theme="light"] .vanilla-calendar-day__btn_holiday.vanilla-calendar-day__btn_disabled {
	color: var(--couleur-sombre);
}
[data-calendar-theme="light"] .vanilla-calendar-day__btn_disabled {
	color: var(--couleur-sombre);
}
[data-calendar-theme="light"] .vanilla-calendar-week__day_weekend {
	color: var(--couleur-vive);
	--tw-bg-opacity: 0.2;
	background-color: rgb(var(--couleur-vive-eclaircie-rgb) / var(--tw-bg-opacity));
}
[data-calendar-theme="light"] .vanilla-calendar-day__btn_today {
	color: var(--couleur-tertiaire-claire);
	outline-style: solid;
	outline-width: 2px;
	outline-color: var(--blanc);
	z-index: 1;
}
[data-calendar-theme="light"] .vanilla-calendar-day__btn_weekend, 
[data-calendar-theme="light"] .vanilla-calendar-day__btn_holiday {
	color: var(--couleur-vive);
/*	--tw-bg-opacity: 0.2;
	background-color: rgb(var(--couleur-vive-eclaircie-rgb) / var(--tw-bg-opacity)); */
}
[data-calendar-theme="light"] .vanilla-calendar-day__btn_selected, [data-calendar-theme="light"] .vanilla-calendar-day__btn_selected:hover {
	color: var(--couleur-vive);
}
.vanilla-calendar-arrow {
	--tw-bg-opacity: 1;
	background-color: rgb(var(--couleur-vive-eclaircie-rgb) / var(--tw-bg-opacity));
	color: var(--noir);
}
/*.vanilla-calendar-arrow:hover::before {
	color: var(--noir);
}*/
/*inutile car c’est une image en dur, on peut pas changer sa p*tain de couleur*/
[data-calendar-theme="light"] .vanilla-calendar-day__btn_selected {
	--tw-bg-opacity: 0.8;
	background-color: rgb(var(--couleur-tertiaire-claire-rgb) / var(--tw-bg-opacity));
	color: var(--blanc);
	font-weight: 800;
}
[data-calendar-theme="light"] .vanilla-calendar-day__btn:hover {
	color: var(--noir);
	font-weight: 600;
	--tw-bg-opacity: 0.2;
	background-color: rgb(var(--couleur-tertiaire-claire-rgb) / var(--tw-bg-opacity));
	z-index: 1;
}
[data-calendar-theme="light"] .vanilla-calendar-day__btn_selected:hover {
	color: var(--noir);
	font-weight: 800;
	--tw-bg-opacity: 0.5;
	background-color: rgb(var(--couleur-tertiaire-claire-rgb) / var(--tw-bg-opacity));
	outline-style: solid;
	outline-width: 2px;
	outline-color:var(--couleur-vive);
	z-index: 1;
}

