/* ================================= css du calendrier (la partie js, pas la partie vanilla) ================================ */

body.calendrier #calendar .bg-red {
	background-color: var(--couleur-vive); /* variables définies dans le calendar override */
}

body.calendrier #calendar .bg-yellow {
	background-color: var(--couleur-vive-secondaire-light); /* variables définies dans le calendar override */
}

body.calendrier #calendar .color-pink {
	color: var(--couleur-sombre); /* variables définies dans le calendar override */
	font-weight: bold;
}

body.calendrier #calendar .color-blue {
	color: var(--couleur-tertiaire-claire); /* variables définies dans le calendar override */
	font-weight: bold;
}

body.calendrier #horaires {
	border-radius: 0.5em;
	border: 1px solid var(--couleur-vive); /* variables définies dans le calendar override */
}
body.calendrier #main * {
	padding: 1px;
}
